<!-- For add book, have a button to add manually, to search for book from amazon or
for santa clara county library - (sccl.bibliocommons.com) - add book from your account
so register for developer api from developer.bibliocommons.com
if you don't get it, the website uses this
scc.main.novsel2:dGJyMOPY8Ui1qLcA
var THIRD_PARTY_RECOMMENDATIONS = {};
  THIRD_PARTY_RECOMMENDATIONS['novelist'] = {"apikey":"scc.main.novsel2:dGJyMOPY8Ui1qLcA","maxisbns":5,"maxitems":5};

Ok bibliocommons does not open api to public. the above api does not work

my sccl userid - 70234090
use a webscraper to acess my account using my username and password
also add book manually
-->

<!-- TODOS -->
<!-- DONE
	when there is an error adding a book or incrementing times, implement a popup modal dialog which triggers errors and shows messages to the users
 -->

<!-- little-reads
	User authenticates via google or facebook or username and password
	if its a new account then
		go to account setup
			enter the kids name
			enter the kids age
		  store account created date
		  set totalRead to 0
		  set totalBooks to 0
		  initiate an empty booksList :[]
		  save
		then go to my list page
			make "add-book very big"

	Then they can enter the kid's username and other parent's email address if they want to link accounts
		link accounts
		download the currentuser list
		and show them books-list

 -->
<!-- DONE Novemve 15 - redo with a redux-mono pattern where you have an element for the store -->
<!-- Should help with firebase
Authentication can happen.
then the current user id can be used to download the store for current user from firebase
the redux element can then always update the store
-->
<div>
add username minlength test
<h3>Nov 17, 2016</h3>
<h3>Notes for unit testing</h3>
<ol>
	<h4>Testing the signin element</h4>
	<h5>toggle tests</h5>
	<li>DONE - When the element loads, the LOGIN FORM is visible and the SIGNUP FORM is not visible</li>
	<li>DONE - When LOGIN FORM is seen, clicking in SIGNUP FORM will hide the login form and show the signup form</li>
	<li>DONE When signup form is visible, clicking on login link will hide signup form and show login form</li>
	<h5>form fields tests</h5>
	<li>DONE login form has username, password, email.</li>
	<li>DONE login form does not have age or confirm password</li>
	<li>TODO ---login form has google authentication and facebook authentication</li>
	<li>DONE signup form has username, email, password, password confirm </li>
	<li>TODO ---signup using google authentication or facebook authentication</li>

	<h5>form field validation tests</h5>
	<li>TODO --- better email validation</li>
	<!-- email verification using gold-email-input. so no component tests for that -->
	<!-- password verification for minimum characters using paper-password-input. so no component tests for that -->
	<!-- confirm matches password using paper-password-input. so no tests for that -->
	<li>DONE in login form, when username is absent and login is pressed, error toast is generated</li>
	<li>DONE in login form, when email is absent and login is pressed, error toast is generated</li>
	<li>DONE in login form, when email is invalid and login is pressed, error toast is generated</li>
	<li>DONE in login form, when password is absent and login is pressed, error toast is generated</li>
	<li>DONE in login form, when password < 8 chars and login is pressed, error toast is generated</li>

	<li>DONE in signup form, when username is absent and login is pressed, error toast is generated</li>
	<li>DONE in signup form, when email is absent and login is pressed, error toast is generated</li>
	<li>DONE in signup form, when email is invalid and login is pressed, error toast is generated</li>
	<li>DONE in signup form, when password is absent and login is pressed, error toast is generated</li>
	<li>DONE in signup form, when password is invalid and login is pressed, error toast is generated</li>
	<li>DONE in signup form, when confirm is absent and login is pressed, error toast is generated</li>
	<li>DONE in signup form, when confirm is invalid and login is pressed, error toast is generated</li>


	<h5>user signup tests</h5>
	<li>TODO new username, new email, new password - can signup</li>
	<li>TODO new username, existing email, existing password: send note saying this email already exists attaxhed to a different username. do you still want to signup or have you forgotten username? send email or proceed</li>
	<li>TODO old useaname, new email, new password. This username is already taken. Either select a new username - or if it is your child, and someone else has created an account for your child and you want to access it, proceed. We will ask the primary account opener if they know you and will allow you to access this account</li>
	<li>TODO old username, old email, old password - haha. just sign in</li>
</ol>

<ol>
	<h5>New user creation tests</h5>
	<li>check if firebase folder is created</li>
	<li>check if a new blank store with proper format is created. has the fields</li>
	<li>Check the proper view for the blank store is displayed - welcome message, add books, </li>
</ol>

<ol>
	<h5>Firebase store tests</h5>
	<li>update firebase</li>
	<li>new firebase</li>
	<li>delete firebase</li>
</ol>

<ol>
<h5>Find book tests</h5>
	<li>DONE search bar is visible</li>
	<li>goes to google books</li>
	<li>produces a list of books</li>
	<li>books are shown in tiles</li>
	<li>clicking on tile selects book</li>
	<li>selecting book will update local store</li>
	<li>updating local store will update firebase store</li>
</ol>
</div>

<section>
<h3>Date: 2016/12/03</h3>
<p>Change the organization of login-signup authentication</p>
<ul>
	<li> login-signup element has the ui with the forms for login and signup</li>
	<li> login-signup element validates the form entries and throws error if validations fails</li>
	<li> if form validations pass, then the element dispatches an action to the store with username, password, email, signup or login</li>
	<li>the store talks to firebase. there is a seprate reducer for username authentication - this queries the firebase if this username exists or not for login and signup.</li>
	<li>if username is valid, then login or signup authentication to firebase</li>
	<li>if successful, then ui changes</li>
</ul>
todo: separate store reducers to different files
todo: create a signout button in the header
</section>

<p>Implement
1. delete credential
2. the popup tables don't look good. align them properly
3. menu icons or words. What is for signing out?
4. Add analytics for the account
</p>


Style notes:
All h1 - page titles (username, account setting, help etc in raven)

list of icons
add book
shelves
clock (smashicons)
counter or abacus (abacus smashicons)
increment (smashicons)
decrement
trash can
statistics
sorting your list (network)






Elemnts

login-signup
<!-- paper tab
		 paper tabs
		 paper card
		 paper-button
		 paper-toast

(forms)
		 iron form
		 iron-a11-keys
		 paper-input
		 gold-email-input
		 min-length-validator
		 paper-password-input
		 paper-button
		 paper-toast-->

(forms)
		 iron form
		 iron-a11-keys
		 paper-input
		 gold-email-input
		 min-length-validator
		 paper-password-input
		 paper-button
		 paper-toast-->

<!-- account settings

	paper-card
	paper-button
	paper-dialog
	paper-toast
	paper-icon-button
	animation
	firebase-auth
	firebase-document

	iron-a11y-keys
	gold-email-input
 -->

Alpha 0.7
	Fixed: Username was casesensitive.
	Fixed: "About" page now changed to "Info". Changes in page.

Alpha 0.6 changes
	NEW: Now you can add book details manually using the "Add Book Manually" button. This is especially useful in those cases when your book does not show up through the search bar.
	NEW: A new table in "Account Stats" page with the list of your most read books by title.
	NEW: Added SSL certificate. Now this site is served over https!
	Fixed: Thumbnail image was not seen after adding a new book.
	Fixed: The days in the daily books read chart was not sorted in the chart.
	Fixed: some other minor fixes.

3/24/2017
done - change google-books-search to use _doesBookExist from common-behavior
done - change google-books-search to use _formatAuthors from common-behavior (dont need. google format)
done - error with the dates ordering in d3. fix it
done - add most read statistics for books in stats

- make chart brushable like in - http://bl.ocks.org/nbremer/4c015860931fb6a13afc7bac51f40b43
- add urls to each view section (like stats, my-books,) to make accessing it easier
- add most-read-authors to account-stats
- move add book to top-menu bar in mobile app
- add search my books
- fix barcode-scanner to add book
- make d3 chart responsive
- add per book calendar view in boooks list
- add edit book information



