<!-- element for the settings part of the page -->
<link rel="import" href="./common-elements.html">

<dom-module id="account-settings">
	<style include="shared-styles">
		.settingsWrapper{
			padding: 15px;
			margin: 15px;
			width: 98%;
		}
		.detail{
			@apply(--layout-horizontal);
			@apply(--layout-center);
			line-height: 3em;
			font-size: 95%;
		}
		h4{
			color: #555;
			text-transform: capitalize;
			font-weight: 400;
			margin: 2px 5px 2px 2px;
		}
		paper-button{
			text-transform: none;
		}
		h2{
			font-variant: small-caps;
		}
		p{
			margin: 1px;
		}
		.credential-wrapper{
			margin-top: 1em;
		}
		.credentials{
			margin-top: 0.5em;
			@apply(--layout-flex);
		}
		paper-card.credential{
			font-size: 90%;
			background-color: #efefef;
			margin: 5px;
		}
		.credential-title{
			@apply(--paper-font-headline);
			font-size: 90%;
		}
		.credential-content{
			margin: 3px;
			padding: 2px;
		}
		.delete-credential{
			float: right;
    	font-size: 10px;
    	vertical-align: top;
    	margin-top:  -15px;
    	margin-right: -15px;
    	--paper-icon-button:  {
    		height: 30px;
    		width: 30px;
    	};
		}
		.delete{
			background-color: red;
			color: #fff;
			font-weight: 600;
		}
		.backup-wrapper{
			margin-top: 2em;
		}
		.backup-actions{
			margin-top: 1em;
			@apply(--layout-flex);
			font-size: 90%;
		}
		.forgot{
			font-size: 110%;
		}
		.success{
			background-color: #fff;
			color: green;
		}
		.fail{
			background-color: #fff;
			color: red;
		}
		.emph{
			text-transform: capitalize;
		}


	</style>
	<template>
		<littlereads-store id="store" user-lists="{{userLists}}" user="{{user}}"></littlereads-store>
		<paper-card class="settingsWrapper">
			<h2>Account Details</h2>
			<div class='detail'>
				<h4>Username:</h4> <p>[[user.username]]</p>
			</div>
			<div class='detail'>
				<h4>Email:</h4> <p>[[user.email]]</p>
			</div>
			<div class='detail'>
				<h4>Password:</h4> <paper-button class='forgot' on-tap="changePassword">Email me a  link to reset password</paper-button>
				<paper-dialog id="resetPassword" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" on-iron-overlay-canceled="cancelledDialog" with-backdrop>
					<div >
						<h3 id="resetContent">Sending a password reset link to <strong>[[user.email]]</strong></h3>
					</div>
				</paper-dialog>
			</div>
			<div class='credential-wrapper'>
				<h4>Credentials</h4>
				<div class="credentials">
					<template is="dom-repeat" items="[[userLists.emails]]">
						<paper-card class='credential'>
							<div class="credential-content ">
								<!-- show delete only if this user is not the logged in user -->
								<template is="dom-if" if="{{canDelete(item)}}">
									<paper-icon-button id="delCred" class="delete-credential" icon="close" onclick="modal.open()"></paper-icon-button>
									<paper-dialog id="modal" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
										<h2>Delete Credential</h2>
	  								<p>Once you delete this credential, you won't be able to log into Littlereads with the [[item]] anymore.</p>
	  								<div class="buttons">
	    								<paper-button dialog-dismiss>Cancel</paper-button>
	    								<paper-button class='delete' dialog-confirm autofocus>Delete</paper-button>
	  								</div>
									</paper-dialog>
								</template>
								<div class="credential-title">
									[[item]]
								</div>
								<!-- Added: Mar 15 at 6.02am -->
							</div>
						</paper-card>
					</template>
					<paper-card class="credential hide">
						<div class="card-actions">
							<paper-button >Add Credential</paper-button>
					</paper-card>
				</div>
			</div>
			<div class="backup-wrapper">
				<h4>Backup and Delete</h4>
				<div class="backup-actions">
					<paper-button class='hide' raised>Backup Account Data</paper-button>
					<paper-button class='delete' onclick="deleteAccount.open()"raised>Delete Account</paper-button>
					<paper-dialog id="deleteAccount" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
						<h2>DELETE ACCOUNT</h2>
	  				<p>All <span class="emph">[[user.username]]'s</span> data will go vanish into the deep dark ... Proceed with caution.</p>
	  				<div class="buttons">
		    			<paper-button dialog-dismiss>Cancel</paper-button>
		    			<paper-button class='delete' on-tap="delAccount" dialog-confirm autofocus>Delete Account</paper-button>
	  				</div>
					</paper-dialog>
				</div>
			</div>
		</paper-card>

	</template>
	<script>
		Polymer({
      is: "account-settings",
      behaviors: [LittleReads.commonBehavior],
      properties: {
        userLists: Object,
        user:Object,
        oldpassword: String,
        newpassword:String,
        again: String
      },
      canDelete: function(item){
      	if (item !== this.user.email)
      		return true;
      	return false;
      },
      changePassword: function(e){
      	// console.log('account-settings::changePassword in change password');
      	var dialog = this.querySelector('#resetPassword');
      	dialog.open();
      	var authEl = document.querySelector('#auth').auth;
      	var textDiv = this.querySelector('#resetContent');
      	authEl.sendPasswordResetEmail(this.user.email)
      		.then(function() {
  					console.log('account-settings::changePassword password reset email sent successfully');
  					textDiv.innerText = "Success. Email sent.";
  					dialog.classList.add('success');
					}, function(error) {
  					// An error happened.
  					console.log('password reset email error', error)
  					textDiv.innerText = "Error. Please log back in and try again";
  					dialog.classList.add('fail');
					});
      },
      cancelledDialog: function(){
      	var dialog = this.querySelector('#resetPassword');
      	dialog.classList.remove('success');
      	dialog.classList.remove('fail');
      },
      delAccount:function(e){
      	// console.log('in account-settings:: delAccount');
      	var authEl = document.querySelector('#auth').auth;
      	var currentUser = authEl.currentUser;
      	var deletions = {};
      	deletions['parents/'+this.user.uid] = null;
      	deletions['users/'+this.user.username] = null;
      	deletions['TakenUserNames/'+this.user.username] = null;

      	authEl.app.database().ref().update(deletions)
      		.then(function(response){
      			// console.log('deleted successfully');
      		}, function(error){
      			console.log('error deleting', error);
      		});
      	currentUser.delete()
      		.then(function(response){
      			// console.log('user deleted successfully');
      			document.querySelector('auth-element').logOut(e);
      		}, function(error){
      			console.log('error deleting user');
      		});
      }
    });
	</script>

</dom-module>
