<!-- This element will allow you to add a new book to your account. -->
<!-- When a book is added, title is mandatory -->
<!-- Then search for the book via an api and show all the options available along with the images -->
<!-- Add book manually, or search amazon - check by name, author and add book -->
<link rel="import" href="./common-elements.html">

<dom-module id="add-book">
	<style include="shared-styles">
		:host{
		}
		.addBook{
      width: 75px;
      height: 75px;
      float:  right;
    }
    #actions{
    	min-width: 400px;
      position: fixed;
      top: 40px;
      left: 16px;
      right: 16px;
      overflow: auto;
    }
    #add-book{
    	min-width: 400px;
    }
    paper-icon-button.addBook {
    color: var(--app-primary-color);
    --paper-icon-button-ink-color: var(--app-primary-color);
  }
	</style>
	<template>
		<paper-icon-button raised src="../images/book_add.png" class="addBook" onclick="actions.open()">Add book</paper-icon-button>
    <paper-dialog id="actions" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
   		<h2>Add Book</h2>
			<paper-dialog-scrollable>
    		<google-book-search on-addbook="_addBook"></google-book-search>
    	</paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>Save</paper-button>
        <paper-button dialog-dismiss>Close</paper-button>
      </div>
    </paper-dialog>
  </template>

	<script>
		Polymer({
			is: "add-book",
      behaviors: [LittleReads.commonBehavior, LittleReads.StoreBehavior],
			properties: {
			},

		});
	</script>
</dom-module>
