<!-- This element will display the books in your account.  -->
<link rel="import" href="./common-elements.html">

<dom-module id="books-list">
  <style include="shared-styles">
    :host {
      margin: 0px;
      padding: 0px;

    }
    .addBook{
      width: 75px;
      height: 75px;
      float:  right;
    }
    #increment-count{
      color: var(--app-primary-color);
    }
    .times{
      width: 54px;
      padding-left: 10px;
      @apply(--layout-vertical);
      @apply(--layout-center-justified);
      }
    .times-text{
      margin-top: 5px;
      margin-left: -10px;
      @apply(--layout-self-center);
      font-variant: small-caps;
      color: #176E12;
      font-size: 80%;
    }
    .ratings{
      margin: 15px 0 0 0;
      @apply(--layout-horizontal);
      vertical-align: bottom;
    }
    .rating{
      margin: 5px 10px 5px 0;
      font-size:  85%;
      @apply(--layout-vertical);
      padding: 5px 5px 5px 0;
    }
    .rater{
      margin-bottom: -5px;
    }
    star-rating{
      margin: 0;
      padding-left: 8px;
      font-size: 0.9em;
      color: #71150E ;
      --star-rating-icon-size:  30px;
    }
    star-rating .star-rating-wrapper > span{
      font-size: 1em;
      height: 30px;
    }

  </style>
  <template>
    <littlereads-store id="store" user-lists="{{userLists}}" user="{{user}}" selected-lists-ids = "{{selectedListsIds}}"></littlereads-store>

    <template is="dom-if" if="{{user.loggedIn}}">
      <ul class="card">
        <add-book class="addBook" hidden$="[[!user.online]]"></add-book>
        <h1>{{user.username}}</h1>
        <h3>Total number of books read: [[userlist.totalRead]]</h3>
        <li class="list">
          <template is="dom-repeat" items="[[userlist.booksList]]">
            <paper-card class="book" >
              <div class="card-content">
                <div class="times">
                  <paper-tooltip for="increment-count" position="right" offset="0">Increase Count by 1</paper-tooltip>
                  <paper-icon-button id="increment-count" on-tap="_incrementTimes" icon="add-circle"></paper-icon-button>
                    <!-- <paper-icon-button icon="add">+1</paper-icon-button> -->
                  <span class="times-text">[[_calculateTimesRead(item.read)]] times</span>
                </div>
                  <div class="info">
                    <div class="book-title">
                      [[item.title]]
                    </div>
                    <div class="book-authors">By
                      <template is="dom-if" if="[[item.authors]]" restamp="true">
                        <span>[[formatAuthorsList(item.authors)]]</span>
                      </template>
                    </div>
                    <div class="ratings self-end">
                    <div class="rating">
                      <span class="rater">Reader</span>
                        <star-rating rate="[[item.reader-rating]]" on-tap="changeRating"></star-rating>
                    </div>
                    <div class="rating right">
                      <span class="rater"> Parent</span>
                      <star-rating rate="[[item.parent-rating]]" on-tap="changeRating"></star-rating>
                    </div>
                  </div>
                </div>
                <iron-image class="book-image" sizing="cover" src=[[item.smallThumbnail]]></iron-image>
              </div>
              <!-- TODO hook up actions -->
              <div class="card-actions">
                <paper-tooltip for="decrement-count" position="right" offset="0">Decrese Count by 1</paper-tooltip>
                <paper-icon-button raised id="decrement-count" icon="remove-circle" on-tap="_decrementTimes"></paper-icon-button>

                <paper-button class="act">Edit</paper-button>
                <paper-button class="act">More...</paper-button>
                <paper-tooltip for="delete-book" position="left" offset="0" >Delete Book</paper-tooltip>

                <paper-icon-button raised id="delete-book" icon="delete" on-tap="actionsopen"></paper-icon-button>

                <paper-dialog id="confirmdeletebook" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
                  <h2>Delete Book and Data?</h2>
                  <p>Do you want to delete this book and it's reading log from your list? Be warned, even a magic wand won't be able to bring it back...</p>
                  <div class="buttons">
                    <paper-button dialog-confirm on-tap="deleteBook">Delete This Book</paper-button>
                    <paper-button dialog-dismiss autofocus>Cancel</paper-button>
                  </div>
                </paper-dialog>
              </div>
            </paper-card>
          </template>
        </li>
      </ul>
    </template>
      <!-- </div> -->
    <!-- </div> -->
  </template>
  <script>
    Polymer({
      is: "books-list",
      properties: {
        userLists: Object,
        user:Object,
        userid: String,
        userlist: Object,
        deleteTitle: String
        // selectedListsIds: Object
      },
      behaviors: [LittleReads.commonBehavior],
      observers: [
        'userListsChanged(userLists.*)',
        // 'selectedListsIdsChanged(selectedListsIds.*)',
        // 'onUserLogin(user.loggedIn)'
      ],
      userListsChanged: function(userLists){
        // console.log(userLists);
        this.userlist = this.userLists;
      },
      // selectedListsIdsChanged: function(selectedListsIds){
      // //   console.log(selectedListsIds);
      //   this.userlist = this.userLists[selectedListsIds.value[0]];
      //   this.userid = selectedListsIds.value[0];
      // //   console.log(this.userlist);
      // },
      _calculateTimesRead: function(readLog){
        // console.log('in calculate-times ',readLog);
        if (readLog){
          var totalBooks = 0;
          for(var i=0; i < readLog.length; i++){
            totalBooks = totalBooks + readLog[i].times;
          }
          return totalBooks;
        }
        return 0;
      },
      formatAuthorsList: function(authors) {
        return authors.join(', ');
      },
      _incrementTimes: function(evt){
        var title = evt.model.item.title
        this.changeTimes(title, "increment");
      },
      _decrementTimes: function(evt){
        var title = evt.model.item.title;
        this.changeTimes(title, "decrement");
      },
      changeTimes: function(title, action){
        console.log(action);
        var today = new Date();
        // console.log('books-list::_changeTimes change times read ',action);
        this.$.store._changeTimesRead({
          title: title,
          date: today,
          action: action
        });
      },
      changeRating: function(evt){
        var el = evt.target.closest('star-rating');
        var changeFor = (el.parentElement.getElementsByClassName('rater')[0].innerText).toLowerCase();
        var title = evt.model.item.title;
        var newValue = el.rate;
        var rater;
        if (changeFor === "parent"){
          rater = "parent-rating";
        } else {
          rater = "reader-rating";
        }
        // console.log(rater, newValue);
        this.$.store._changeRating({
          // userId: this.userid,
          title: title,
          rater: rater,
          newValue: newValue
        });
      },
      actionsopen: function(evt){
        var cardEl = evt.target.closest('.book');
        this.deleteTitle = cardEl.getElementsByClassName('book-title')[0].innerText;
        this.querySelector('#confirmdeletebook').open();
      },
      deleteBook: function(evt){
        // console.log('Deleting ',this.deleteTitle);
        this.$.store._deleteBook({
          title: this.deleteTitle
        });
      }
    });
  </script>
</dom-module>
