<!-- The shell -->
<!-- add element for google authentication -->
<!-- add element to access firebase with this google authorization -->
<link rel="import" href="./common-elements.html">
<link rel="import" href="./store.html">

<dom-module id="little-reads">
	<link rel="import" type="css" href="little-reads.css">
	<template>
		<!-- transform navigation demo -->
		<!-- main container -->
		 <app-drawer-layout force-narrow>
		 	<app-drawer id="drawer" align="right" swipe-open>
		 		<!-- app drawer content -->
		 		<app-toolbar></app-toolbar>
		 		<!-- Nav on mobile: side nav menu -->
		 		<paper-menu id="navMenu" selected="{{selected}}" attr-for-selected="name">
        	<template is="dom-if" if="{{showBooksMenuButton(selected)}}">
            <paper-item name="list" class="appMenu" on-tap="closeDrawer">Books</paper-item>
          </template>
        	<paper-item class="appMenu" name="list" on-tap="triggerLogout" hidden$="[[!user.online]]">Logout</paper-item>
        	<paper-item name="settings" class="appMenu" on-tap="closeDrawer" hidden$="[[!user.online]]">
        		<iron-icon icon="settings" ></iron-icon>
        	</paper-item>
        	<paper-item name= "help" class="appMenu" on-tap="closeDrawer"><iron-icon icon="help"></iron-icon></paper-item>
        	<paper-item name="offline" hidden$="[[!user.online]]"><iron-icon icon="cloud" ></iron-icon></paper-item>
					<paper-item name="online" hidden$="[[user.online]]"><iron-icon icon="cloud-off"></iron-icon></paper-item>
				</paper-menu>
		 	</app-drawer>

			<app-header-layout fullbleed>
				<app-header class="main-header" effects="waterfall" fixed>
					<app-toolbar>
            <div main-title class="main-title">LittleReads</div>
            <div>
            	<paper-icon-button class="menu-button" icon="menu" drawer-toggle hidden$="{{wideLayout}}"></paper-icon-button>
            </div>
						<div class="tabs-bar" hidden$="{{!wideLayout}}">
            	<!-- Nav on desktop: tabs -->
            	<paper-tabs id="navTab" selected="{{selected}}" attr-for-selected="name" no-bar>
            		<template is="dom-if" if="{{showBooksMenuButton(selected)}}">
            			<paper-tab name="list">
            				<paper-item class="appMenu">Books</paper-item>
            			</paper-tab>
            		</template>
            		<paper-tab name="list" on-tap="triggerLogout" hidden$="[[!user.online]]">
              		<paper-item class="appMenu">Logout</paper-item>
              	</paper-tab>
              	<paper-tab name="settings" hidden$="[[!user.online]]">
              		<paper-item class="appMenu">Settings</paper-item>
              	</paper-tab>
              	<paper-tab name="help">
              		<paper-item name= "help"><iron-icon icon="help"></iron-icon></paper-item>
              	</paper-tab>
              	<paper-tab name="offline" hidden$="[[!user.online]]">
              		<paper-item><iron-icon icon="cloud"></iron-icon></paper-item>
              	</paper-tab>
								<paper-tab name="online" hidden$="[[user.online]]">
									<paper-item><iron-icon icon="cloud-off"></iron-icon></paper-item>
								</paper-tab>
            	</paper-tabs>
            </div>
					</app-toolbar>
				</app-header>

    		<!-- main content -->
    		<div class="content">
    		<!-- <p>little-reads loggedIn: [[user.loggedIn]], online: [[user.online]]</p> -->
        	<littlereads-store id="store" user="{{user}}"></littlereads-store>
					<firebase-app
						name="littleReads"
						api-key="[[FirebaseApiKey]]"
						auth-domain="[[FirebaseAuthDomain]]"
						database-url="[[FirebaseDb]]"
						storage-bucket="[[StorageBucket]]"
					></firebase-app>

					<firebase-document
						app-name="littleReads"
						id="doc"
						path="/users/[[user.username]]"
						></firebase-document>

					<login-signup></login-signup>

					<template is="dom-if" if="{{user.loggedIn}}">
						<iron-pages selected="{{selected}}" attr-for-selected="name">
							<books-list name="list"></books-list>

							<template is="dom-if" if="{{!user.online}}">
								<account-settings name="settings"></account-settings>
							</template>

							<div name="help"><h3>Help Element goes here</h3></div>
						</iron-pages>
					</template>
        </div>
  		</app-header-layout>
		</app-drawer-layout>
		<!-- iron media query for responsive design -->
		<iron-media-query query="min-width: 600px" query-matches="{{wideLayout}}"></iron-media-query>
	</template>
	<script>
		Polymer({
			is: 'little-reads',
			behaviors: [LittleReads.commonBehavior],
			properties: {
				FirebaseApiKey:{
					type: String,
					value: "AIzaSyCdu8TC055cPNqVnvHnRKDqc-SHe8akYzc"
				},
				FirebaseAuthDomain:{
					type: String,
					value: "littlereads-c8955.firebaseapp.com"
				},
				FirebaseDb:{
					type: String,
					value: "https://littlereads-c8955.firebaseio.com"
				},
				StorageBucket:{
					type: String,
					value: "littlereads-c8955.appspot.com"
				},
				selected: {
          type: String,
          notify:true,
          value: 'list',
          reflectToAttribute:true
        },
        wideLayout: {
          type: Boolean,
          value: false,
          observer: 'onLayoutChange',
        },
        user:Object,
			},
			triggerLogout: function(e,detail){
				console.log('logout button clicked');
				this.querySelector('auth-element').logOut(e);
				this.closeDrawer();
			},
			onLayoutChange: function(wide) {
        var drawer = this.$.drawer;
        if (wide && drawer.opened) {
          drawer.opened = false;
        }
      },
      closeDrawer: function(){
      	this.querySelector('#drawer').close();
      },
      showBooksMenuButton: function(selected){
      	if(this.user){
      		if (this.user.loggedIn && (this.selected !== 'list')){
      			return true;
      		}
      	}
      	return false;
      }
		});
	</script>
</dom-module>
