:host {
  display: block;
  --app-primary-color: #8A7523;
	--app-secondary-color: black;
  background-color: #fff;
}
app-drawer{
	--app-drawer-width:  100px;
	--app-drawer-content-container:  #fff;
  background-color: var(--app-primary-color);
}

app-toolbar{
	background-color: var(--app-primary-color);
	color: #fff;
}
.main-header {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}
paper-menu{
	width: 100px;
}
.main-title{
	font-size: 30px;
	font-weight: 700;
}
paper-tabs {
  --paper-tabs-selection-bar-color: red;
  height: 100%;
  max-width: 640px;
}
paper-tab {
  --paper-tab-ink: #aaa;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: right;
}
paper-item.appMenu:hover{
  background: #ddd;
  color: #000;
}
[hidden] {
  display: none !important;
}

.nav {
  border-right: 1px solid #ccc;
}

.main {
  background-color: #eee;
}
.content {
  /* height: 3000px; */
  /* width: 95%; */
  /* margin-right: 0px; */
  /* padding-right: 10px; */
  /* overflow: scroll; */
}

