<!-- add support for enter button -->
<link rel="import" href="./common-elements.html">

<dom-module id="login-signup">
	<style include="shared-styles">
		.card{
			@apply(--layout-horizontal);
		}
		paper-card.login, paper-card.signup, paper-card.reset{
			width: 300px;
			margin: 10vh auto auto auto;
			padding: 0px;
		}
		paper-card.reset{
			padding: 10px;
		}
		paper-button{
			width: 260px;
			background-color: var(--app-primary-color);
			color: #eee;
			font-weight: 600;
		}
		.toggle-div{
			@apply(--layout-horizontal);
			font-size: 90%;
			text-transform: uppercase;
			color: #000;
		}
		.toggle-link{
			@apply(--layout-horizontal);
    	@apply(--layout-center-center);
    	text-decoration: none;
    	color: var(--app-primary-color);
			background-color: #ddd;
		}
		#loginform, #signupform, #resetform{
			padding: 10px;
		}
		#loginButton, #signupButton, #resetButton{
			margin-bottom: 10px;
			@apply(--layout-horizontal);
    	@apply(--layout-center-center);
		}

		#logintoast, #signuptoast{
			--paper-toast-background-color: #BD362F;
    	--paper-toast-color: white;
    		height: 80px;
    		font-size: 100%;
    		overflow: auto;
		}
	</style>
	<template>

		<!-- gets status of loggedIn. If true, this element will not be displayed -->
		<littlereads-store id="store" user="{{user}}"></littlereads-store>
		<auth-element></auth-element>
		<template is="dom-if" if="{{!user.loggedIn}}">

		<div class="card">
			<paper-card class="login" id="logincard">

				<paper-tabs class='toggle-div' selected='0' no-bar>
					<paper-tab>Login</paper-tab>
					<paper-tab link>
						<a href="#" class="toggle-link" on-click="_toggleForms">Sign Up</a>
					</paper-tab>
				</paper-tabs>

	 			<form is="iron-form" id="loginform" method="post">
	 				<iron-a11y-keys id="a11y" target="[[_target]]" keys="enter" on-keys-pressed="login"></iron-a11y-keys>
	 				<paper-input minlength="5" id="username" name="username" label="Child's Name" value="{{username}}"required auto-validate error-message="invalid username" pattern="^[a-z0-9_-]{5,15}$"></paper-input>
	  			<gold-email-input id="email" name="email" label="Email Address" auto-validate required value="{{email}}"></gold-email-input>

	  			<min-length-validator id="min-length-validator" min-length="8"></min-length-validator>

					<paper-password-input id="password" name="password" label="Password" auto-validate validator="min-length-validator" error-message="Enter at least 8 characters" required value="{{password}}" type="password">
					</paper-password-input>
	  			<br>
	  			<paper-button id="loginButton" raised type="submit" on-tap="login">Login</paper-button>
	  			<paper-button class="forgot" on-tap="_showResetForm">Forgot your password?</paper-button>
	  			<paper-toast id="logintoast" class="fit-bottom" text="{{errorMessage}}"></paper-toast>
	 			</form>
			</paper-card>
			<paper-card class="signup hide" id="signupcard">

				<paper-tabs class='toggle-div' selected='1' no-bar>
					<paper-tab link>
						<a href="#" class="toggle-link" on-click="_toggleForms">Login</a>
					</paper-tab>
					<paper-tab>Sign Up</paper-tab>
				</paper-tabs>

	 			<form is="iron-form" id="signupform" method="post">
	 				<iron-a11y-keys id="a11y" target="[[_target]]" keys="enter" on-keys-pressed="signUp"></iron-a11y-keys>
	 				<paper-input minlength="5" id="username" name="username" label="Child's Name" value="{{username}}"required auto-validate error-message="invalid username" pattern="^[a-z0-9_-]{5,15}$"></paper-input>

	  			<gold-email-input id="email" name="email" label="Email Address" auto-validate required value="{{email}}"></gold-email-input>

					<min-length-validator id="min-length-validator" min-length="8"></min-length-validator>
					<match-passwords-validator id="match-passwords-validator" password="[[password]]"></match-passwords-validator>

					<paper-password-input id="password" name="password" label="Password" auto-validate validator="min-length-validator" error-message="Enter at least 8 characters" required value="{{password}}">
					</paper-password-input>

					<paper-password-input id="confirm" label="Confirm Password" auto-validate validator="match-passwords-validator" error-message="Passwords need to match" required value="{{confirm}}">
					</paper-password-input>

	  			<br>
	  			<paper-button id="signupButton" raised type="submit" on-tap="signUp">Sign Up</paper-button>
	  			<paper-toast id="signuptoast" class="fit-bottom" text="{{errorMessage}}"></paper-toast>
	 			</form>
			</paper-card>

			<paper-card class="reset hide" id="resetcard">
				<h3>Reset Your LittleReads Password</h3>
				<p>Submit your email address and we’ll send you a link to reset your password.</p>
	 			<form is="iron-form" id="resetform" method="post">
	  			<gold-email-input id="email" name="email" label="Email Address" auto-validate required value="{{email}}"></gold-email-input>
	  			<br>
	  			<paper-button id="resetButton" raised type="submit" on-tap="triggerPasswordReset">Submit</paper-button>
	  			<paper-toast id="signuptoast" class="fit-bottom" text="{{errorMessage}}"></paper-toast>
	 			</form>
			</paper-card>
		</div>
		</template>
	</template>
	<script>
		Polymer({
			is: "login-signup",
			properties:{
				user: Object,
				username: {
					type: String,
					value: ""
				},
				email: {
					type: String,
					value: ""
				},
				password: {
					type: String,
					value: ""
				},
				confirm: {
					type: String,
					value: ""
				},
				errorMessage: {
					type: String,
					value: ""
				},
				_target: {
    			type: Object,
    			value: function(evt) {
      			return this.$.form;
    			}
  			},
			},
			_toggleForms: function(event){ //between signup and login forms

				var signUpElement = this.getElementsByClassName('signup')[0];
				var loginElement = this.getElementsByClassName('login')[0];

				if (signUpElement.classList.contains('hide')){ // show signup, hide login
					loginElement.classList.add('hide');
					signUpElement.classList.remove('hide');
				} else if (loginElement.classList.contains('hide')){ // hide signup, show login
					signUpElement.classList.add('hide');
					loginElement.classList.remove('hide');
				}
			},
			_showResetForm: function(event){
				// console.log('showing reset form');
				var signUpElement = this.getElementsByClassName('signup')[0];
				var loginElement = this.getElementsByClassName('login')[0];
				var resetElement = this.getElementsByClassName('reset')[0];
				if (!signUpElement.classList.contains('hide'))
					signUpElement.classList.add('hide');
				if (!loginElement.classList.contains('hide'))
					loginElement.classList.add('hide');
				if (resetElement.classList.contains('hide'))
					resetElement.classList.remove('hide');

			},
			_validateFormSubmission: function(event){
				// console.log(event);
				var formElements = event.target.parentElement;
				var container = formElements.parentElement.id;
				if ((!formElements.username.validate())  || (formElements.username.value === "")){
					this._openErrorToast("Invalid username", container);
					return false;
				}
				if ((formElements.email.invalid) || (formElements.email.value === "")){
					this._openErrorToast("Invalid email", container);
					return false;
				}
				var pass = formElements.querySelector("#password");
				if ((pass.invalid) || (pass.value === "")){
					this._openErrorToast("Invalid password", container);
					return false;
				}
				if (container === "signupcard"){
					if ((this.password=== "") || (this.password !== this.confirm)){
						this._openErrorToast("Invalid password confirmation", container);
						return false;
					}
				}
				return true;
			},
			_openErrorToast: function(message, containerId){
				var toastId = containerId.replace('card','toast');
				var toast = document.getElementById(toastId);
				var container = document.getElementById(containerId);
				this.errorMessage = message;
				toast.fitInto = container;
				toast.open();
			},
			_handleErrors: function(errorCode, containerId){
				var errMsg;
				switch (errorCode){
					case "auth/invalid-email" :
						errMsg = "Unrecognized/invalid email" ;
						break;
					case "auth/invalid-user-token":
						errMsg = "Please sign in";
						break;
					case "auth/requires-recent-login":
						errMsg = "Please sign in";
						break;
					case "auth/user-disabled":
						errMsg = "Your account has been disabled. Please contact us.";
						break;
					case "auth/user-token-expired":
						errMsg = "Please sign in";
						break;
					case "auth/user-not-found":
						errMsg = "Email not found";
						break;
					case "auth/wrong-password":
						errMsg = "Invalid Password";
						break;
					// case "auth/email-already-in-use":
					// 	errMsg = "TODO for multiple authentication";
					// 	break;
					case "auth/weak-password":
						errMsg = "Weak Password";
						break;
					default:
						errMsg = "Unknown username / email";
				}
				this._openErrorToast(errMsg, containerId);
			},
			login: function(event){
				// console.log('signin event', event);
				var valid = false;
				valid = this._validateFormSubmission(event);
				self = this;
				if (valid){
						// now dispatch action to the store and let the store ask the authentication element
					this.$.store._userLogin({
          	username: this.username,
          	email: this.email,
          	password: this.password
        	});
				}
			},
			signUp: function(event){
				// dispatch action to signout
				var valid = this._validateFormSubmission(event);
				self = this;
				if(valid){
					this.$.store._userSignUp({
          	username: this.username,
          	email: this.email,
          	password: this.password
        	});
				}
			},
			logOut: function(event){
				// console.log('in login-signup logout');
				this.querySelector('#loginform').reset();
				this.querySelector('#signupform').reset();
			},
			triggerPasswordReset: function(event){
				// console.log('reset password event is', event);
				// console.log(this.email);
				this.querySelector('auth-element').resetPassword(this.email);
			}
		});
	</script>
</dom-module>
