<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      --app-primary-color: #8A7523;
      --app-secondary-color: black;
      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      /* style for ul holding list of books in books-list and google-book-search */
      .card {
        margin: 0px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fefefe;
        min-width: 425px;
        list-style: none;
      }
      /* list of book cards styling */
      .list{
        @apply(--layout-flex);
      }
      /* book card styling */
      paper-card.book{
        margin: 10px;
        max-width: 400px;
        min-width: 400px;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .card-content{ /* layout wrapper for content in book-card */
        @apply(--layout-horizontal);
        padding: 0;
        margin: 0;
      }
      .info{ /* container for the book info - title, author,rating */
        padding: 10px 2px 2px 5px;
        @apply(--layout-flex);
      }
      .book-title{
        font-size: 120%;
        color: #444;
        text-transform: capitalize;
        margin-bottom: 8px;
      }
      .book-authors{
        font-size: 90%;
        color: #111;
      }
      .card-actions{
        font-size:  80%;
        @apply(--layout-horizontal);
        @apply(--layout-justified);
      }
      .book-image{
        /* background: url("http://books.google.com/books/content?id=fivPrQEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api"); */
        background-size:  cover;
        width: 128px;
        height: 150px;
        margin-left: 2px;
      }
      /* styling for forgot password button */
      .forgot{
        background-color: #fff;
        font-size: 80%;
        color: red;
        text-transform: none;
        font-weight: 300;
      }
      .hide{
        display: none;
      }

    </style>
  </template>
</dom-module>
