<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/polymerfire/polymerfire.html">

<link rel="import" href="./store.html">
<template>
	<firebase-document app-name="littleReads" id="doc">
	</firebase-document>
</template>
<script>
	Polymer({
		is: 'littlereads-store',
		behaviors: [LittleReads.StoreBehavior],
		properties: {
			loggedIn: {
				readOnly: true,
				notify: true,
				statePath: 'loggedIn'
			},
			user: {
				readOnly: true,
				notify: true,
				statePath: 'user'
			},
			userId: {
				readOnly: true,
				notify: true,
				statePath: 'selectedUserId'
			},
			userLists:{
				readOnly: true,
				notify: true,
				statePath: 'userLists'
			},
			_userLogin: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						this.dispatch(LittleReads.act.userlogin(props.username, props.email, props.password));
						}).bind(this);
				}
      },
      _userSignUp: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						this.dispatch(LittleReads.act.usersignup(props.username, props.email, props.password));
					}).bind(this);
				}
      },
      _userLogOut: {
				readOnly: true,
				notify: true,
				value: function() {

					return (function(props){
						console.log('in littlereads userlogout');
						this.dispatch(LittleReads.act.userlogout());
					}).bind(this);
				}
      },
      _loggedIn: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						this.dispatch(LittleReads.act.loggedin(props.uid, props.username, props.login, props.create, props.loggedIn));
					}).bind(this);
				}
      },
      _offline: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						// console.log('littlereads-store.html triggering offline mode', props);
						this.dispatch(LittleReads.act.offline(props.uid, props.username, props.loggedIn, props.online));
					}).bind(this);
				}
      },
      _online: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						// console.log('littlereads-store.html triggering offline mode', props);
						this.dispatch(LittleReads.act.online(props.online));
					}).bind(this);
				}
      },

      _updateStoreUserLists: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						// console.log(props.userlistcontent);
						this.dispatch(LittleReads.act.updateStoreUserLists(props.username, props.userlistcontent));
					}).bind(this);
				}
      },
      // stores the update id of the newest update in the userlists for current username
      // selectedListsIds: {
      // 	readOnly: true,
      // 	notify: true,
      // 	statePath: function(state){
      // 		return LittleReads.select.selectedListIds(state);
      // 	}
      // },
			// selecteduserlist: {
			// 	readOnly: true,
			// 	notify: true,
			// 	statePath: function(state){
			// 		return LittleReads.select.selectedUserList(state);
			// 	}
			// },
			_addBook:{
				readOnly: true,
				notify: true,
				value: function(){
					return(function(props){
						this.dispatch(LittleReads.act.addbook(
							// props.userId,
							props.newBook));
					}).bind(this);
				}
			},
			_deleteBook:{
				readOnly: true,
				notify: true,
				value: function(){
					return(function(props){
						this.dispatch(LittleReads.act.deletebook(
							props.title));
					}).bind(this);
				}
			},
			_changeRating: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						this.dispatch(LittleReads.act.changerating(
							// props.userId,
							props.title, props.rater, props.newValue));
					}).bind(this);
				}
			},
			_changeTimesRead: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						this.dispatch(LittleReads.act.changetimesread(props.title, props.date, props.action));
					}).bind(this);
				}
			},
		}
	});
</script>
<!-- selectors are used to create derived datafrom the store, so that the components can use them directly -->
