<script src="../node_modules/redux/dist/redux.js"></script>
<script src="../node_modules/reselect/dist/reselect.js"></script>

<script src="./store.js"></script>
<link rel="import" href="../bower_components/polymer-redux/polymer-redux.html">
<link rel="import" href="../bower_components/polymerfire/polymerfire.html">


<script>
	//namespace
	window.LittleReads = window.LittleReads || {};
	//behavior
	LittleReads.StoreBehavior = PolymerRedux(store);
	//load data
	// const req = new XMLHttpRequest();
	// req.addEventListener('load', function () {
	// 	store.dispatch(LittleReads.act.load(JSON.parse(this.responseText)));
	// });
	// req.open('GET', '/data/data.json');
	// req.send();

</script>

