<!-- element for the settings part of the page -->
<link rel="import" href="./common-elements.html">
<!-- account settings

	paper-card
	paper-button
	paper-dialog
	paper-toast
	paper-icon-button
	animation
	firebase-auth
	firebase-document

	iron-a11y-keys
	gold-email-input
 -->

<dom-module id="account-settings">
	<style include="shared-styles">
		.settingsWrapper{
			padding: 15px;
			margin: 15px;
			width: 90%;
		}
		.detail{
			@apply(--layout-horizontal);
			@apply(--layout-center);
			line-height: 3em;
			font-size: 95%;
		}
		h4{
			/* color: #555; */
			color: var(--dark-gray);
			text-transform: capitalize;
			font-weight: 400;
			margin: 2px 5px 2px 2px;
		}
		paper-button{
			text-transform: none;
		}
		h2{
			font-variant: small-caps;
		}
		p{
			margin: 1px;
		}
		.credential-wrapper{
			margin-top: 1em;
		}
		.credentials{
			margin-top: 0.5em;
			@apply(--layout-flex);
		}
		paper-card.credential{
			font-size: 90%;
			/* background-color: #efefef; */
			background-color: var(--light-gray);
			margin: 5px;
		}
		.credential-title{
			@apply(--paper-font-headline);
			font-size: 90%;
		}
		.credential-content{
			margin: 3px;
			padding: 2px;
		}
		.delete-credential{
			float: right;
    	font-size: 10px;
    	vertical-align: top;
    	margin-top:  -5px;
    	margin-right: -5px;
    	--paper-icon-button:  {
    		height: 30px;
    		width: 30px;
    	};
		}

		.backup-wrapper{
			margin-top: 2em;
		}
		.backup-actions{
			margin-top: 1em;
			@apply(--layout-flex);
			font-size: 90%;
		}
		.emph{
			text-transform: capitalize;
		}


	</style>
	<template>
		<littlereads-store id="store" user-lists="{{userLists}}" user="{{user}}"></littlereads-store>
		<paper-card class="settingsWrapper">
			<h1>Account Details</h1>
			<div class='detail'>
				<h4>Username:</h4> <p>[[user.username]]</p>
			</div>
			<div class='detail'>
				<h4>Email:</h4> <p>[[user.email]]</p>
			</div>
			<div class='detail'>
				<h4>Password:</h4> <paper-button class='forgot' on-tap="changePassword">Email me a  link to reset password</paper-button>
				<paper-dialog id="resetPassword" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" on-iron-overlay-canceled="cancelledDialog" with-backdrop>
					<div >
						<h3 id="resetContent">Sending a password reset link to <strong>[[user.email]]</strong></h3>
					</div>
				</paper-dialog>
			</div>
			<div class='credential-wrapper'>
				<h4>Credentials</h4>
				<firebase-auth
					id="newAuth"
					app-name="lr2"
					user = "{{newUserData}}"
					signed-in="{{signedIn}}"
					on-error="handleError"
				></firebase-auth>
				<firebase-document
					app-name="lr2"
					id="parentsInfoNew"
					path="/parents/[[newParentId]]"
					data="{{newParentData}}"
					on-error="handleError"
				></firebase-document>
				<div class="credentials" id="credentialsDiv">
					<template id="credtemplate" is="dom-repeat" items="[[emailList]]">
						<paper-card class='credential'>
							<div class="credential-content ">
								<!-- show delete only if this user is not the logged in user -->
								<template is="dom-if" if="{{canDelete(item)}}">
									<paper-icon-button id="delCred" class="delete-credential" icon="close" onclick="modal.open()"></paper-icon-button>
									<paper-dialog id="modal" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
										<h2>Delete Credential</h2>
	  								<p>Once you delete this credential, you won't be able to log into Littlereads with the [[item]] anymore.</p>
	  								<div class="buttons">
	    								<paper-button dialog-dismiss autofocus>Cancel</paper-button>
	    								<paper-button class='delete' dialog-confirm on-tap="delCred">Delete</paper-button>
	  								</div>

									</paper-dialog>
								</template>
								<div class="credential-title">
									[[item]]
								</div>
								<!-- Added: Mar 15 at 6.02am -->
							</div>
						</paper-card>
					</template>
					<paper-card class="credential">
						<div class="card-actions">
							<paper-button onclick="addCredentialModal.open()">Add Credential Email</paper-button>
							<paper-dialog id="addCredentialModal" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
								<h2>Add Credential</h2>
									<iron-a11y-keys id="a11y" target="[[_target]]" keys="enter" on-keys-pressed="addCred"></iron-a11y-keys>
									<gold-email-input id="newCred" name="newCred" label="New Email Address Credential" auto-validate required value="{{newCred}}" autofocus></gold-email-input>
									<p>
									<ol>
										<li>LittleReads will send an email activation link to this email address.</li>
										<li>After activation, they will be able to access [[user.username]]'s account </li>
									</ol>
									</p>
	  							<div class="buttons">
	    							<paper-button dialog-confirm autofocus on-tap="addCred">OK. I Get it. Add this credential already!</paper-button>
	  							</div>
								</paper-dialog>
					</paper-card>
					<paper-toast id="addCredToast" class="fit-bottom toasts delete" text="{{errorMessage}}"></paper-toast>
				</div>
			</div>
			<div class="backup-wrapper">
				<h4>Backup and Delete</h4>
				<div class="backup-actions">
					<paper-button class='hide' raised>Backup Account Data</paper-button>
					<paper-button class='delete' onclick="deleteAccount.open()"raised>Delete Account</paper-button>
					<paper-dialog id="deleteAccount" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
						<h2>DELETE ACCOUNT</h2>
	  				<p>All <span class="emph">[[user.username]]'s</span> data will go vanish into the deep dark ... Proceed with caution.</p>
	  				<div class="buttons">
		    			<paper-button dialog-dismiss>Cancel</paper-button>
		    			<paper-button class='delete' on-tap="delAccount" dialog-confirm autofocus>Delete Account</paper-button>
	  				</div>
					</paper-dialog>
				</div>
			</div>
		</paper-card>

	</template>
	<script>
		Polymer({
      is: "account-settings",
      behaviors: [LittleReads.commonBehavior],
      properties: {
        userLists: Object,
        emailList: Object,
        user:Object,
        oldpassword: String,
        newpassword:String,
        again: String,
        newCred: String,
        newUserData:Object,
        newUserSignedIn: Object,
        newUserResponse: Object,
        newParentData: Object,
        newParentId: String
      },
      observers: [
      	'onParentsDataChanged(newParentData.*)',
      	'onUserListsChanged(userLists.*)'
      ],
      onParentsDataChanged: function(newParentData){
      	// console.log('newParentData changed ', newParentData);
      },
      onUserListsChanged: function(userLists){
      	// console.log('account-settings:: userLists changed:', userLists);
      	this.emailList = this.userLists.emails;
      	// console.log(this.emailList);
      	this.$.credtemplate.render();
      },
      canDelete: function(item){
      	if (item !== this.user.email)
      		return true;
      	return false;
      },
      changePassword: function(e){
      	// console.log('account-settings::changePassword in change password');
      	var dialog = this.querySelector('#resetPassword');
      	dialog.open();
      	var authEl = document.querySelector('#auth').auth;
      	var textDiv = this.querySelector('#resetContent');
      	authEl.sendPasswordResetEmail(this.user.email)
      		.then(function() {
  					console.log('account-settings::changePassword password reset email sent successfully');
  					textDiv.innerText = "Success. Email sent.";
  					dialog.classList.add('success');
					}, function(error) {
  					// An error happened.
  					console.log('password reset email error', error)
  					textDiv.innerText = "Error. Please log back in and try again";
  					dialog.classList.add('fail');
					});
      },
      cancelledDialog: function(){
      	var dialog = this.querySelector('#resetPassword');
      	dialog.classList.remove('success');
      	dialog.classList.remove('fail');
      },
      delAccount:function(e){
      	// console.log('in account-settings:: delAccount');
      	var authEl = document.querySelector('#auth').auth;
      	var currentUser = authEl.currentUser;
      	var deletions = {};
      	deletions['parents/'+this.user.uid] = null;
      	deletions['users/'+this.user.username] = null;
      	deletions['TakenUserNames/'+this.user.username] = null;

      	authEl.app.database().ref().update(deletions)
      		.then(function(response){
      			// console.log('deleted successfully');
      		}, function(error){
      			console.log('error deleting', error);
      		});
      	currentUser.delete()
      		.then(function(response){
      			// console.log('user deleted successfully');
      			document.querySelector('auth-element').logOut(e);
      		}, function(error){
      			console.log('error deleting user');
      		});
      },
			addCred: function(e){
				console.log('adding credit here');
				var self = this;
				// check validity of email first
				if (newCred.value){
					this.$.newAuth.createUserWithEmailAndPassword(newCred.value, "password")
					.then(function(response){
						console.log("new user created", response);
						self.newUserResponse = response;
						// update the userprofile's display name and set it to the username
						self.updateNewUser(response, self.user.username);
					})
					.catch(function(error){
						console.log('error creating new user', error);
						// document.querySelector('login-signup')._handleErrors(error.code, "delCred");
						self._handleToastErrors(error.code, "credentialsDiv", "addCredToast");
					});
				}
			},
			updateNewUser: function(newCreatedUser, username){
				console.log('in account-settings::updateNewUser');
				var self = this;
				newCreatedUser.updateProfile({
					displayName: username
				})
				.then(function(){
					console.log('set user display name to username');
					document.querySelector('auth-element').verifyEmail(newCreatedUser);
					// update the parents store so the usernames associated with each authenticated user can be retrieved easily
					self.newParentId = newCreatedUser.uid;
					self.newParentData = {
						name: [username],
						lastUsed: username
					};
					//update userStore and trigger firebase update
					// var newUserList = self.userLists;
					var newUserList = Object.assign({}, self.userLists);
					newUserList.uids.push(newCreatedUser.uid);
					newUserList.emails.push(newCreatedUser.email);
					console.log(newUserList);

					self.$.newAuth.signOut()
						.then(function(){
							self.$.store._updateUidsUserLists({
								"username": username,
								"userlistcontent": newUserList
							});
						},function(error){
							console.log('error updating store');
					});
				}, function(error){
					console.log('error: set user display name to username');
				});
      },
      delCred: function(e){
      	// console.log('you want to delete this', e);
      	var emailToDelete = e.target.closest('paper-card').querySelector('.credential-title').innerText;
      	// find index of this in the userlists
      	var ind = this.userLists.emails.indexOf(emailToDelete);
      	// var newUserList = this.userLists;
      	var newUserList = Object.assign({}, this.userLists);
      	newUserList.emails.splice(ind,1); // remove email
      	var delId = newUserList.uids[ind];
      	this.parentId = delId;
      	newUserList.uids.splice(ind,1); // remove uid from user
      	// now trigger store update
      	this.$.store._updateUidsUserLists({
					"username": this.user.username,
					"userlistcontent": newUserList
				});
      	// now query parentElements for this id
      	// delete this username from this id
      	// now check for the length of usernames. if none, delete account
      	var parentsDoc = document.querySelector('#parentsInfo');
      	// console.log(parentsDoc.data);
      	if (parentsDoc.data.name.length > 1){
      		var delIndParent = parentsDoc.data.name.indexOf(this.user.username);
      		parentsDoc.data.name.splice(delIndParent,1);
      		// now push parentsDoc back
      	} else {
      		// delete this node itself;
      		var deletions = {};
      		deletions['parents/'+delId] = null;
      		parentsDoc.app.database().ref().update(deletions)
      			.then(function(response){
      				// console.log('deleted parents node successfully');
      			}, function(error){
      				console.log('error deleting', error);
      		});
      	}
      }
    });
	</script>

</dom-module>

<!-- Adding credentials  -->

<!-- When user wants to add another user, ask them to fill in the email address
		Then create a user with this email and a random password
		Set this new users display name to the username
		Then trigger a email verification email and password reset to this new user.
		Add the displayname / username to this password -->
