<link rel="import" href="./common-elements.html">
<link rel="import" href="../bower_components/google-chart/google-chart.html">
<link rel="import" href="./d3-bar-chart.html">

<dom-module id="account-stats">
	<style include="shared-styles">
		#dateChart, #allTimeStats{
			background-color: var(--light-gray);
			padding: 30px 5px 10px 10px;
			margin-bottom: 10px;
		}
		#allTimeStats{

		}
		.Rtable-cell{
			margin-top: 5px;
			margin-bottom: 5px;
			/* background-color: yellow; */
		}
		.push-right{
			padding-left: 20px;
		}
		.capitalize{
			text-transform:  capitalize;
		}
		.app-color{
			color: var(--app-primary-color);
		}

	</style>
	<template>
		<littlereads-store id="store" user-lists="{{userLists}}" user="{{user}}"></littlereads-store>
		<ul class="card">
			<!-- structure like wordpress -->
			<h1>Your Stats</h1>

			<div id="selectionbar">
				<!-- tabs - days, weeks, months, years -->
				<!-- Days, Weeks, Months, Years -->
			</div>

			<div id="dateChart">
				<!-- send data to the chart as per the selection-->
				<h3>How many books is <span class="capitalize app-color">{{user.username}}</span> reading per day?</h3>
				<d3-bar-chart data="[[d3Day]]" height="[[chartHeight]]" width="[[chartWidth]]"></d3-bar-chart>
				<!-- <h3>Titles Read</h3>
				<d3-bar-chart data="[[d3Title]]"  height="[[chartHeight]]" width="[[chartWidth]]"></d3-bar-chart>
	 -->
				<!-- <h3>Authors Read</h3>
				<d3-bar-chart data="[[d3Author]]" height="[[chartHeight]]" width="[[chartWidth]]"></d3-bar-chart> -->
			</div>

			<div id="allTimeStats">
				<h3><span class="capitalize app-color">{{user.username}}'s</span> most Read Books Are</h3>
				<div class="Rtable Rtable--2cols">
				  <div class="Rtable-cell-left"><h4>Title</h4></div>
				  <div class="Rtable-cell-right"><h4>Times Read</h4></div>
				  <template id="mostReadList" is="dom-repeat" items="{{d3Title.data}}" >
				  	<template is="dom-repeat" items="[[item]]" index="[[index]]"restamp="true">
							<template is="dom-if" if="{{index}}">
								<div class="Rtable-cell-right">[[item]]</div>
							</template>
              <template is="dom-if" if="{{!index}}">
								<div class="Rtable-cell-left">[[item]]</div>
							</template>
            </template>
				  </template>
				</div>
			</div>
		</ul>
	</template>
	<script>
		Polymer({
      is: "account-stats",
      behaviors: [LittleReads.commonBehavior,
      	Polymer.IronResizableBehavior],
      properties: {
      	userLists: Object,
        user:Object,
        readEntriesD3:Array,
        mostRead: Array,
        d3Day: {
        	type: Object,
        	value: {
        		data: [],
        		options: {}
        	},
        	notify:true
        },
        d3Title: {
        	type: Object,
        	value: {
        		data: [],
        		options: {}
        	},
        	notify:true
        },
        d3Author: {
        	type: Object,
        	value: {
        		data: [],
        		options: {}
        	},
        	notify:true
        },
        chartWidth: {
        	type: Number,
        	value: 500
        },
        chartHeight : {
        	type: Number,
        	value: 400
        },
        frequencyByTitle: {
        	type: Object,
        	value: {}
        }
      },
			listeners: {
				'iron-resize': '_onIronResize'
			},
      observers: [
      	'onUserListsChanged(userLists.*)',
      	'calculateStats(readEntriesD3.*)'
      ],
      _onIronResize: function(){
				// console.log('in iron-resize');
				// console.log(this.parentElement.offsetWidth);
				// console.log(this.parentElement.offsetHeight);
				this.chartWidth = Math.floor(this.parentElement.offsetWidth *0.9 );
				// console.log(this.chartWidth);
				// this.$.weekChart.redraw();
			},
      onUserListsChanged: function(userLists){
      	var self=this;
      	// console.log('account-stats:: userLists changed:', userLists);
      	var booksList = userLists.value.booksList;
      	var datenumArray = []; // date converted to datenum
        var dateArray = []; // full date
        var titleArray = []; // title
        var dateTitleArray = []; // full date and title
        var readEntries = [];
      	if (booksList && booksList.length > 0){
      		booksList.forEach(function(item){
	      		var title = item.title;
	      		var authors = item.authors;
	      		// console.log(item);
	      		// console.log(authors);
	      		// console.log(item.title);
	      		// // console.log(item.read);
	      		item.read.forEach(function(subitem){
	      			if (subitem.times !== 0){
		      			var dateTime = subitem.date;
		      			var date = moment(dateTime).format('YYYY/MM/DD');
		      			var readEntry = {
		      				"dateTime": dateTime,
		      				"date": date,
		      				"title": title,
		      				"authors":authors
		      			};
		      			readEntries.push(readEntry);
	      			}
	      		});
	      	});
	      }
	      // console.log(readEntries);
	      this.readEntriesD3 = readEntries;
      },
      findInsertIndex: function(arr,val){
      // assumes sorted arr
      // finds index of val in arr and returns index
      	if (arr.length > 0){
      		var ind = arr.length - 1;
      		for (var i=ind; i--; i>=0){
      			if (val >= arr[i]){
      				// console.log('found position i', i);
      				return i;
      			}
      		}
      	}
      	return 0;
      },
      calculateStats: function(){
				// this.calcWeekStats();
				this.calcFrequencyByDay();
			},
			formatDataForD3: function(obj, sorttype){
				if (obj){
					var keys = Object.keys(obj);
					var returnArr = [];
					if (sorttype && (sorttype === "sortDate")){
						var momentKeys = [];
						momentKeys = keys.map(function(item){
							var t = moment(item).unix(); //convert to milli
							return t;
						});
						momentKeys.sort();
						keys = [];
						keys = momentKeys.map(function(item){
							return moment.unix(item).format("YYYY/MM/DD"); //convert back
						})
					}
					keys.forEach(function(item){
						returnArr.unshift([item, obj[item]]);
					})
					if (sorttype && (sorttype === "sortMostRead")){
						var sorted = [];
						returnArr = returnArr.sort(this._sortByRead);
					}
					return returnArr;
				}
				return null;
			},
			calcFrequencyByDay: function(){
				// console.log(this.readEntriesD3);
				if (this.readEntriesD3 && this.readEntriesD3.length > 0){
					d3Entries = this.readEntriesD3;
					var frequencyByDay = {};
					var frequencyByTitle = {};
					var frequencyByAuthor = {};

					for (var i=0; i<d3Entries.length; i++) {
						var item = d3Entries[i];
						// if item exists, increment or initialize to 1
						frequencyByDay[item.date] = (frequencyByDay[item.date] || 0) + 1;
						frequencyByTitle[item.title] = (frequencyByTitle[item.title] || 0) + 1;
						for (var j=0; j<item.authors.length; j++){
							frequencyByAuthor[item.authors[j]] = (frequencyByAuthor[item.authors[j]] || 0) + 1;
						}
					}
					this.frequencyByTitle = frequencyByTitle;
					// console.log(frequencyByDay);
					// initialize the data to the D3 bar chart element to show the plots
					this.d3Day["data"] = this.formatDataForD3(frequencyByDay, "sortDate");
					this.d3Day["options"] = {
						"chart-title": "Daily Statics",
						"x-axis-title": "Date",
						"y-axis-title": "Number of Books Read",
						"x-transform": "Date"
					};
					this.notifyPath("d3Day.data");
					this.notifyPath("d3Day.options");

					this.d3Title["data"] = this.formatDataForD3(frequencyByTitle, "sortMostRead");
					this.d3Title["options"] = {
						"chart-title": "Title Statistics",
						"x-axis-title": "Title",
						"y-axis-title": "Number of Books Read",
					};
					this.notifyPath("d3Title.data");
					this.notifyPath("d3Title.options");

					this.d3Author["data"] = this.formatDataForD3(frequencyByAuthor);
					this.d3Author["options"] = {
						"chart-title": "Author Statistics",
						"x-axis-title": "Author",
						"y-axis-title": "Number of Books Read",
					};
					this.notifyPath("d3Author.data");
					this.notifyPath("d3Author.options");
					// console.log(this.d3Title["data"]);
				}
			},
			_sortByRead: function(a,b){
				return a[1] > b[1] ? -1 : 1;
			},

    });
	</script>
</dom-module>
<!--

	      // in the userlists, go to the list of books
	      // go through each book in the list
	      // for each book in the list, look at each entry in the readLog
	      // for each item in the readlog
	      // 	convert the datestring to date object
	      // 	add this new dateobject to the dateObjectArray and get the position where this new one fits
	      // 	in the same position in the dataarry, insert an object with the datenum, year, month, date, time, booktitle, book author

	      // you have partial data arrays
	      // now make them into data for plots
	      // days books-read #unique-books-read
	      // weeks books-read
	      // months books-read (calendar map) hovering
	      // hovering should show not only the number but also the titles of the books read -->
