<!-- This element will allow you to add a new book to your account. -->
<!-- When a book is added, title is mandatory -->
<!-- Then search for the book via an api and show all the options available along with the images -->
<!-- Add book manually, or search amazon - check by name, author and add book -->
<link rel="import" href="./common-elements.html">
<link rel="import" href="./google-book-search.html">
<link rel="import" href="./goodreads-book-search.html">
<link rel="import" href="./addbook-manual.html">
<link rel="import" href="./littlereads-dialog.html">


<dom-module id="add-book">
	<style include="shared-styles">
		:host{
		}
		.addBook{
      width: 70px;
      height: 70px;
      float:  right;
      display: none;
    }
    paper-icon-button.addBook{
      color: red;
    }
    #actions, #manual{
    	@apply(--my-menu-paperdialog-settings);
    }

    #add-book{
    	min-width: 400px;
      max-width: 90vw;
    }
    .addManualBook{
      /* background-color: var(--app-primary-color); */
    }
    paper-icon-button.addBook {
    }
    /* .buttons{
      @apply(--layout-horizontal);
      @apply(--layout-around-justified);
    } */

    /* Mobile style */
    @media (max-width:40rem) {
      /* fullscreen for mobile */
      paper-dialog, paper-dialog#actions, paper-dialog-scrollable, div#scrollable, #add-book{
        width: 100vw;
      }
      paper-dialog#actions{
        padding: 0px;
      }
    }
    @media screen and (min-width: 600px){
      .addBook{
        display: block;
      }
    }
	</style>
	<template>
    <!-- icon used outside -->
    <!-- <paper-icon-button raised src="../images/add-book.svg" onclick="temp.open()" >Add book</paper-icon-button> -->
    <littlereads-dialog id="actions" on-iron-overlay-opened="patchOverlay"entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>aehsoonaien</h2>
      <paper-dialog-scrollable>
        <google-book-search on-addbook="_addBook"></google-book-search>
        <div></div>
         <!-- <template is="dom-bind">
          <span>[[code]]</span>
          <barcode-scanner code="{{code}}"></barcode-scanner>
      </template> -->
      </paper-dialog-scrollable>
    </littlereads-dialog>

    <paper-dialog id="actionsold" on-iron-overlay-opened="patchOverlay"entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
   		<h2>Add Book</h2>
			<paper-dialog-scrollable>
    		<google-book-search on-addbook="_addBook"></google-book-search>
        <div></div>
         <!-- <template is="dom-bind">
          <span>[[code]]</span>
          <barcode-scanner code="{{code}}"></barcode-scanner>
      </template> -->
    	</paper-dialog-scrollable>

      <div class="buttons">
        <paper-button raised class="addManualBook" on-tap="manualAdd">Add Book Manually</paper-button>
        <paper-button raised dialog-dismiss>Cancel</paper-button>
      </div>
    </paper-dialog>

    <paper-dialog id="manual" autofocus on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
      <h2>Enter Book Details</h2>
        <paper-dialog-scrollable>
          <div>
            <addbook-manual></addbook-manual>
          </div>
        </paper-dialog-scrollable>

        <div class="buttons">
          <paper-button dialog-dismiss>Close</paper-button>
      </div>
    </paper-dialog>
  </template>

	<script>
		Polymer({
			is: "add-book",
      behaviors: [LittleReads.commonBehavior,
        LittleReads.StoreBehavior
      ],
			properties: {
			},
      manualAdd: function(){
        //  console.log("clicked manual");
        manual.open();
        actions.close();
      }

		});
	</script>
</dom-module>
