<link rel="import" href="./common-elements.html">

<dom-module id="addbook-manual">
	<style include="shared-styles">
		/* login signup styles */

		.card {
			@apply(--layout-horizontal);
			@apply(--layout-center-justified);
			width: 300px;
		}

		paper-button {
			width: 260px;
			/* color: #eee; */
			color: var(--light-gray);
			background-color: var(--app-primary-color);
			font-weight: 600;
		}

		#addbookform {
			padding: 10px;
		}

		#submitBookButton {
			margin-bottom: 10px;
			@apply(--layout-horizontal);
			@apply(--layout-center-center);
		}
		/* Mobile style */

		@media (max-width:40rem) {
			.card {
				padding: 0px;
				margin: 0px;
				width: 100vw;
			}
			paper-card {
				width: 100vw;
			}
		}
	</style>
	<template>
		<littlereads-store id="store" user-lists="{{userLists}}" selected-lists-ids="{{selectedListsIds}}" user="{{user}}"></littlereads-store>
		<div class="card">
			<paper-card class="addbook" id="addbookcard">
				<form is="iron-form" id="addbookform" method="post">
					<iron-a11y-keys id="mba11y" target="[[_target]]" keys="enter" on-keys-pressed="addBookManually"></iron-a11y-keys>

					<paper-input autofocus minlength="3" id="booktitle" name="booktitle" label="Book Title (Required)" value="{{booktitle}}"
					  auto-validate error-message="Book Title required" required></paper-input>

					<paper-input minlength="3" id="authors" name="authors" label="Book Authors (Required)" value="{{authors}}" auto-validate
					  error-message="Authors required" required></paper-input>

					<paper-input id="isbn10" name="isbn10" label="ISBN 10" minlength="10" maxlength="10" value="{{isbn10}}" allowed-pattern="[0-9]"
					  error-message="example: 9385290118" auto-validate></paper-input>

					<paper-input id="isbn13" name="isbn13" label="ISBN 13" minlength="13" maxlength="13" value="{{isbn13}}" allowed-pattern="[0-9]"
					  error-message="example: 9789385290114" auto-validate></paper-input>

					<paper-input id="thumbnailurl" name="thumbnailurl" label="Link to book cover image" value="{{thumbnailurl}}"></paper-input>
					<br>
					<paper-button id="submitBookButton" raised type="submit" on-tap="addBookManually">Save Book</paper-button>

					<paper-toast id="addbooktoast" class="fit-bottom toasts delete" text="{{errorMessage}}"></paper-toast>
				</form>
			</paper-card>

		</div>
	</template>
	<script>
		Polymer({
			is: "addbook-manual",
			behaviors: [LittleReads.commonBehavior, LittleReads.StoreBehavior],
			properties: {
				booktitle: {
					type: String,
					value: ""
				},
				authors: {
					type: String,
					value: ""
				},
				isbn10: {
					type: String,
					value: ""
				},
				isbn13: {
					type: String,
					value: ""
				},
				thumbnailurl: {
					type: String,
					value: ""
				},
				errorMessage: {
					type: String,
					value: ""
				},
				_target: {
					type: Object,
					value: function (evt) {
						return this.$.form;
					}
				},
				selectedListsIds: Object,
				userid: String,
				userLists: Object
			},
			addBookManually: function (event) {
				var valid = false;
				self = this;
				valid = this._validateFormSubmission(event);
				// console.log("adding book");
				if (valid) {
					var today = String(new Date());
					var authors = this._formatAuthors(this.authors);
					selectedBook = {
						"title": this.booktitle,
						"authors": authors,
						"source": [],
						"smallThumbnail": this.thumbnailurl,
						"reader-rating": 0,
						"parent-rating": 0,
						"added": today,
						"updated": today,
						"isbn10": this.isbn10,
						"isbn13": this.isbn13,
						"read": [{
							"date": today,
							"times": 0
						}]
					}
					var bookExists = this._doesBookExist(selectedBook, this.userLists); // if true, don't do anything. if false add book
					if (!bookExists) {
						// console.log("add book now");
						this.$.store._addBook({
							userId: this.userid,
							newBook: selectedBook
						});
						manual.close()
					} else {
						manual.close();
						// console.log("Say book already exists");
						this._openToast("Book is already in your list.", "booksListCard", "bookadderrortoast");
					}
				}
			},

			_validateFormSubmission: function (event) {
				// console.log("validate the form");
				var formElements = event.target.parentElement;
				var container = formElements.parentElement.id;
				// check if the title and authors are not empty
				if ((!formElements.booktitle.validate()) || (formElements.booktitle.value === "")) {
					this._openErrorToast("Invalid Title", container);
					return false;
				} else if ((!formElements.authors.validate()) || (formElements.authors.value === "")) {
					this._openErrorToast("Invalid Authors", container);
					return false;
				}
				if (formElements.isbn10.value !== "") {
					if (!formElements.isbn10.validate()) {
						console.log('bad isbn10');
						this._openErrorToast("Invalid ISBN_10", container);
						return false;
					}
				}

				if (formElements.isbn13.value !== "") {
					if (!formElements.isbn13.validate()) {
						console.log('bad isbn13');
						this._openErrorToast("Invalid ISBN_13", container);
						return false;
					}
				}

				if (formElements.thumbnailurl.value !== "") {
					console.log(formElements.thumbnailurl.value);
					this.thumbnailurl = encodeURI(formElements.thumbnailurl.value);
				}

				return true;
			},
			_openErrorToast: function (message, containerId) {
				var message = message;
				var containerId = containerId;
				var toastId = "addbooktoast";
				this._openToast(message, containerId, toastId);
			},


		});
	</script>
</dom-module>