<!-- - This element deals with authentication to firebase
		 	Signing in when required
		 	creating a new user in firebase when required
		 	signing out when required
		 	this element is triggered by store changes
			1. on sign-in, when authentication is complete (it will set global username and uid) and the status of signedIn changes to true, it will trigger the observer onAuthSignActionChange
			2. onAuthSignActionChange will set the firebase parentsQuery uid which will trigger a query
			3. When query is complete and the updated value is available, it will trigger the observer onParentsDataChanged which sets the uidNames global property if it finds matching user name
			4. When uidNames is set, it will trigger observer to set userlist
			5. when userlist is set, retrieve from store is triggered
 -->
<link rel="import" href="./common-elements.html">

<dom-module id="auth-element">
	<style></style>
	<template>
		<!-- <p>auth-element signedIn:{{signedIn}}, uid: {{authUserData.uid}}, email: {{authUserData.email}}</p> -->
		<littlereads-store id="store" user="{{user}}"></littlereads-store>
		<!-- <p>in authelement firebase-auth signed in {{signedIn}} </p> -->
		<firebase-query
				id="query"
				app-name="littleReads"
				path="/TakenUserNames"
				data="{{queryData}}"
				on-error="handleError"
		></firebase-query>

		<firebase-auth
			id="auth"
			app-name="littleReads"
			user = "{{authUserData}}"
			signed-in="{{signedIn}}"
			on-error="handleError"
		></firebase-auth>

		<firebase-query
			id = "parentsQuery"
			app-name="littleReads"
			path = "/parents/{{parentsUid}}"
			data = "{{dataparents}}"
			on-error="handleError"
			disabled="{{disabled}}"
		></firebase-query>

	<app-indexeddb-mirror
			id="mirror"
			session="usersId"
			key="users"
			data = "{{datausers}}"
			persisted-data="{{persistedDatausers}}"
			online="{{online}}"
			on-error="handleError"
		></app-indexeddb-mirror>

		<firebase-query
			id = "usersQuery"
			app-name="littleReads"
			path = "/users/{{usersId}}"
			data = "{{datausers}}"
			on-error="handleError"
			disabled="{{disabled}}"
		></firebase-query>


<!-- offline not working -->
<!-- try this  -->
		<firebase-document
			app-name="littleReads"
			id="takenUserNames"
			path="/TakenUserNames/[[takenUserName]]"
			data="{{takenUserNameData}}"
			on-error="handleError"
		></firebase-document>

		<firebase-document
			app-name="littleReads"
			id="childInfo"
			path="/users/[[childId]]"
			data="{{childData}}"
			on-error="handleError"
		></firebase-document>

		<firebase-document
			app-name="littleReads"
			id="parentsInfo"
			path="/parents/[[parentId]]"
			data="{{parentData}}"
			on-error="handleError"
		></firebase-document>

		<paper-dialog id="verifyemail-modal" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation"
		on-iron-overlay-canceled="cancelledVerification"
		with-backdrop modal>
			<h2>Resend Verification Email</h2>
			<div class="buttons">
				<paper-button dialog-confirm autofocus on-tap="resendVerification">Send</paper-button>
			</div>
		</paper-dialog>
	</template>
	<script>
		Polymer({
			is: "auth-element",
			/**
			* @polymerBehavior LittleReads.commonBehavior
			*/
			behaviors: [LittleReads.commonBehavior],
			properties:{
				response: Object,
				action: String,
				username: String, // to store global
				persistedUsername: String, //to persist the username
				email: String, // to store global
				uid: String, // to store global
				user: Object, // store property
				queryData: Object, // takenusername query property
				queryDataPersisted: Object, // app-indexeddb-mirror for querydata
				signedIn: {
					type: Boolean, // auth property
				},
				authUserData: Object, // auth property
				dataparents: Object, // parentsquery property
				// persistedDataparents: Object, //app-indexeddb-mirror parentsquery
				parentsUid: String, // parentsquery property
				usersId: String, //usersquery property
				dataUsers: Object, //usersqueryproperty
				persistedDatausers: Object, //app-indexeddb-mirror
				online: Boolean,
				userList: {
					type: Object,
					value: {}
				},
				disabled: {
					type: Boolean,
					value: true
				},
				childId: String, // for signup childInfo document
				childData: Object, // for signup childInfo document
				takenUserName: String, // for signup takenusername document
				takenUserNameData: Boolean, // for signup takenusername document
				parentId: String, // for signup parent document
				parentData: Object, // for signup parent document
			},
			observers: [
				'onLogin(user.login)', // store update triggers this observer
				'onAuthSignActionChange(signedIn, action, uid)', // this is triggered if signedIn or action or uid changes, used to trigger flow for only signin action. triggers parentsQuery
				'onParentsDataChanged(dataparents.*)',// observes parents query. triggers the onUidNamesSet observer
				'onUsersDataChanged(persistedDatausers.*)', // observes the persisted result from the usersquery, will trigger userListsUpdated
				'onUserListsUpdated(userList.*)', // observes the userlist. triggers the store update
				'onOffline(persistedDatausers.*,signedIn)', // observer when we go offline
				'onOnlineChanged(online)', // observer when we go back online
				'onUidChanged(authUserData.uid)', // observer for when we refresh the browser to requery
				'onCreateSelected(user.create)', // store update triggers this observer
			],
			onLogin: function(triggerLogin){
				// console.log('triggerlogin is ',triggerLogin);
				if (!triggerLogin){
					return;
				}
				this.doLogin();
			},
			doLogin: function(){
				this.action = "signin";
				this.username = this.user.username;
				this.email = this.user.email;
				var password = this.user.password;
				var self = this;
				var taken = this._checkUserNameTaken(this.username); // first check if this username is taken
				if (taken) {
					this.$.auth.signInWithEmailAndPassword(email, password)
						.then(function(response){
							if (response.emailVerified){ // check if email is verified
								self.uid = response.uid;
								self.disabled = false; //enable other queries
							} else {
								self.response = response; // alert user to verify the email address via email
								self.querySelector("#verifyemail-modal").open();
							}
						})
						.catch(function(error){
							console.log(error.code);
							console.log('auth-element:signIn error is', error.detail);
							// self.parentElement._handleErrors(error.code, "logincard");
							self._handleToastErrors(error.code, "logincard", "logintoast");
						});
				} else {
					var errMsg = "Wrong username";
					//self.parentElement._openErrorToast(errMsg, "logincard");
					this._openToast(errMsg, "logincard", "logintoast");
				}
			},
			onAuthSignActionChange: function(signedIn, action, uid){
				// used to trigger flow for only signin action
				if ((this.signedIn === true) && (this.action === "signin")){
					// console.log('Signed in now true');
					this.parentsUid = this.uid; // this launches parentsQuery for current uid
				}
			},
			onParentsDataChanged: function (dataparents) {
			// console.log(' dataparets: ', dataparents);
				if ((dataparents.path === "dataparents.length") && (dataparents.value === 2)){
						var names = dataparents.base[1];
						this._completeSignIn(names);
				}
			},
			onUsersDataChanged: function(newData){ //changed to persistedData
				// console.log('users data changed, ', newData);
				if ((newData.path === "persistedDatausers.length") && (newData.value === 3)){
					// console.log('this is valid data', newData.base);
					var userList = newData.base[2];
					delete userList.$key;
					this.userList = userList;
				}
			},
			onUserListsUpdated: function(newData){
				// console.log('inUserList', newData, this.userList);
				if (Object.keys(this.userList).length > 0){
					this.$.store._updateStoreUserLists({
						"username": username,
						"userlistcontent": this.userList
					});
				}
			},
			onOffline: function(persistedDatausers,signedIn){
				// console.log('onOffline in onPersistedDataChanged', this.persistedDatausers);
				// console.log('onOffline onAuthSignedIn firebase-auth signed in is', this.signedIn);
				// console.log('are we online?', document.querySelector('#mirror').online);
				if((this.persistedDatausers.length > 0) && this.signedIn){
					if (!document.querySelector('#mirror').online){ 					// now only if offline
						this.uid = persistedDatausers.base[1].$val;
						this.username = persistedDatausers.base[2].name;
						this.email = persistedDatausers.base[0][0].email;
						this._offline(this.uid, this.username, this.email);
						this.userList = persistedDatausers.base[2]; // trigger store update as well
					}
				}
			},
			onOnlineChanged: function(online){
				// console.log('now online', online);
				if (online){
					this.$.store._online({
						"online": true
					});
				}
			},
			onUidChanged: function(uid){
				// console.log('onuidchanged',uid);
				if (uid){
					this.disabled = false;
					this.parentsUid = uid;
					this.email = this.email || this.authUserData.email;
					this.uid = this.uid || uid;
				}
			},
			_checkUserNameTaken: function(username){
				if (this.$.query.child(username)){
					return true;
				}
				return false;
			},
			_completeSignIn: function(names){
				if (Object.keys(names).length > 0){
					var namesArr = names[0];
					// console.log('onuidnamesset', this.username);
					this.username = this.username || this.dataparents[0].$val;
					// console.log('namesArr is ', namesArr);
					if (namesArr.indexOf(this.username) === -1){ // not found. sign out
						this._openToast("Invalid username","logincard","logintoast");
						this.logOut();
					} else {
						// console.log('sign in complete. load store');
						this._loggedIn(this.uid, this.username, this.email); // login
						// setup the usersQuery
						this.usersId = this.username;
						this.uidNames = [];
						this.parentId = this.uid;
						this.parentData["lastUsed"] = this.username;
					}
				}
				this.parentElement.parentElement.resetForms();
			},
			_loggedIn: function(uid, username, email){
				// console.log('in _loggedIn', uid, username, email);
				this.$.store._loggedIn({
						"uid": uid,
						"username": username,
						"email": email,
						"login": false,
						"create": false,
						"loggedIn": true
				});
			},
			_offline: function(uid, username, email){
				// console.log('now logging in');
				this.$.store._offline({
						"uid": uid,
						"username": username,
						"email": email,
						"loggedIn": true,
						"online": false
				});
			},
			// handleError: function(error){
			// 	console.log('firebase auth error - handleError ', error);
			// 	// console.log('error message', error.detail.message);
			// },
			onCreateSelected: function(doCreate){
				if (doCreate){
					this.signUp();
				}
			},
			logOut: function(event){
				this.action = "logout";
				this.disabled = true;
				// console.log('gonna sign out');
				var self = this;
				this.$.auth.signOut()
					.then(function(response){
						self.$.store._userLogOut();
						// self.logOut();
						// console.log('auth-element:logOut signed out ');
					})
					.catch(function(error){
						console.log('auth-element:logOut error', error.detail);
					})
			},
			verifyEmail: function(createdUser){
				createdUser.sendEmailVerification()
					.then(function() { // Email sent.
						// console.log('Verification email sent');
					}, function(error) {// An error happened.
						console.log('Error sending verification email', error);
					});
			},
			signUp: function(){
				this.action = "signup";
				this.username = this.user.username;
				this.email = this.user.email;
				var password = this.user.password;
				var self = this;
				var initialData;
				// if username already exists return error
				var taken = this._checkUserNameTaken(username);
				if (!taken) {
					this.$.auth.createUserWithEmailAndPassword(email, password)
					.then(function(response){
						// console.log('created user is', response);
						if(response){
							// update the userprofile's display name and set it to the username
							response.updateProfile({
								displayName: self.username
							}). then(function(){
								console.log('set user display name to username');
							}, function(error){
								console.log('error: set user display name to username');
							});
							// update username with the uid and provider info so each username can be associated with multiple authenticated users
							this.disabled = false;
							self.uid = response.uid;
							self.childId = self.username;
							initialData = self.createInitialData(self.email, self.username, self.uid);
							self.childData = {
								provider: response.providerData,
								uid: self.uid,
								userLists: initialData
							};
							// update taken user names
							self.takenUserName = self.username;
							self.takenUserNameData = true;
							// update the parents store so the usernames associated with each authenticated user can be retrieved easily
							self.parentId = self.uid;
							self.parentData = {
								name: [self.username],
								lastUsed: self.username
							};
							self.userList = initialData;
							// send email verification
							self.verifyEmail(response);
						}
					})
					.catch(function(error){
						console.log('auth-element:signUp error ',error.detail);
						// self.parentElement._handleErrors(error.code, "signupcard");
						self._handleToastErrors(error.code, "signupcard", "signuptoast");
						// if error because the email is already in use in another account, you say that do you want to add another child? or login to your other account
						// then
					});
				} else {
					var errMsg = "Username Unavailable.";
					// self.parentElement._openErrorToast(errMsg, "signupcard");
					self._openToast(errMsg, "signupcard", "signuptoast");
				}
			},
			createInitialData: function(email, username, parentId){
				var today = String(new Date());
				var dat = {
						"name": username,
						"age": "1",
						"totalRead": 0,
						"totalBooks": 2,
						"uids": [parentId],
						"emails": [email],
						"booksList": [{
							"title": "One day in the eucalyptus eucalyptus tree",
							"authors": ["Daniel Bernstrom", "Brendan Wenxel"],
							"source": ["library"],
							"smallThumbnail": "http://books.google.com/books/content?id=HyMDswEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api",
							"reader-rating": 5,
							"parent-rating": 5,
							"added": today,
							"updated": today,
							"read": [{"date": today, "times": 0}]
							}, {
							"title": "Llama Llama mad at mama",
							"authors": ["Anna Dewdney"],
							"source": ["library"],
							"smallThumbnail": "http://books.google.com/books/content?id=P6q_fVHBoesC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api",
							"reader-rating": 5,
							"parent-rating": 3,
							"added": today,
							"updated": today,
							"read": [{"date": today, "times": 0}]
						}]
					};
  			return dat;
			},
			cancelledVerification: function(e){
				// console.log('cancelled. logout now');
				this.logOut();
			},
			resendVerification: function(e){
				this.verifyEmail(this.response);
				// console.log('resend verification');
				this.logOut();
			},
			resetPassword: function(email){
				this.$.auth.auth.sendPasswordResetEmail(email)
					.then(function() {
						// console.log('password reset email sent');
					}, function(error) {
						// An error happened.
						console.log('password reset email error', error)
					});
			}
		});
	</script>
</dom-module>


<!-- todo -->
<!-- use either nouns or verbs for actions in store - don't mix. decide -->
<!-- When user signsin flow is
1. In login-signup element, person fills form and clicks on the login button.
2. This triggers basic form validation for email and password. If validated, then a store update is triggered with "login" (action) set to true, with the username and password.
	- If form is invalid, it throws an error.
3. When the store updates user.login, it triggers the observer onLogin in auth-element
4. onLogin
		- sets the action to signin
		- calls _checkUserNameTaken to see if the username exists in the TakenUserNames database key. If it does not exist, it throws an error.
		- then it signsIn to firebase using email and password. If username/password are not valid, an error is thrown.
		- After the signin promise returns a successful response, check if the email has been verified. If the email is unverified, open a modal to send an email to the user and let them know that they need a verified email before they can proceed.
		- If email is verified, set global var uid to current uid, and enable all queries by setting global var disabled to false;

	Next set purpose is to make sure that this email and password is indeed associated with this username only by checking in the parents query
		- this triggers the observer onAuthSignActionChange used for signin flow purposes only. If the firebase-auth signedIn property is true (i.e we are signed in), and the action is set to "signin", we trigger the firebase-query parentsQuery by setting the parentsId to uid
		- When the query is successful, the query results trigger the observer onParentsDataChanged, this calls the _completeSignin function. which checks if this parent has this username. If so, it triggers the usersquery by setting the usersId
		- The usersQuery results are mirrored in the indexdb-mirror local persisteddatabase
		- When the persistedDatausers changes, it triggers the observer onUsersDataChanged
		- this updates the userLists which in turn triggers onUserListsUpdated
		- this triggers a store update with the new userlist data.
 -->

<!-- When user goes offline after signing in flow is -->
<!-- when user goes offline, the persistedDatausers changes which triggers OnOffline observer
		- this observer will check if we are signedIn, and if we are indeed offline, and if the persistedDatausers contains the data we need.
		- it then updates the userLists from the persistedDatausers (like signin callflow)
		- this triggers onUserListsUpdated which triggers a storeUpdate after which views are updated
		- it also triggers offline- which updates users part ofstore saying offline-true - which updates the views disabling online-only functionality
-->
<!--  -->

<!-- Signed in user goes offline, then online again -->
<!--
	When we go online, it triggers the observer 'onOnlineChanged(online)' which just does a store update to indicate that we are now online.
	this in turn enables all online functionality in the views
 -->

<!-- signed in user refreshes browser - persisted signin unless explicit signout -->
<!--
		When we refresh, the uid changes. 'onUidChanged(authUserData.uid)',  monitors the uid, and when it is defined again, triggers the signin flow by setting the parentsQuery Id to uid
 -->


<!-- signup callflow -->
<!--  When user signs up flow is
1. In login-signup element, person fills form and clicks on the sign up button.
2. This triggers basic form validation for email and password. If validated, then a store update is triggered with "create" (action) set to true, with the username and password.
	- If form is invalid, it throws an error.
3. When the store updates user.create, it triggers the observer onCreateSelected(user.create) in auth-element
4. onCreateSelected(user.create) triggers the signup() function
5. IN signup, it sets the action variable to signup.
6. then a validity check is done to make sure that the username does not exist. If the username already exists, then throw an error
7. If the username is unique, then create a user with email and password. If creation fails, throw an error
todo - update the user profile's display name by setting it to username
8. When this creation is successful, set varible disabled to false - this enables all firebase queries.
9. Then set the uid and childId. Create the initial data for this new user by calling self.createInitialData(self.email, self.username, self.uid)
10. Then update the users/ database with a new node with the new username with this initial data
11. Then update takenUserNames with this username so that no one else can use this username.
12. The call loggedIn  - to indicate that the user is logged in.
13. Then set the local userlist variable to the initialdata - this this updates the userLists which in turn triggers onUserListsUpdated
		- this triggers a store update with the new userlist data.
14. Then send an verifyEmail response to the user.
-->

