<!-- <link rel="import" href="../polymer/polymer.html"> -->
<link rel="import" href="./common-elements.html">
<script src="../bower_components/quagga/dist/quagga.min.js" type="text/javascript" charset="utf-8" async defer></script>


<dom-module id="barcode-scanner">
  <style>
    :host {
      display: block;
    }

   /*  video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } */
  </style>
  <template>
  [[result]]
    <paper-button on-tap="scanCode">Scan ISBN</paper-button>
    <div id="interactive" class="viewport"></div>
  </template>

  <!-- <script src="../bower_components/quagga/dist/quagga.min.js"></script> -->
  <script>
    Polymer({
      is: 'barcode-scanner',
      properties: {
        result: {
          type: Object,
          notify: true,
          readOnly: true,
          value: null
        },
        code: {
          type: String,
          notify: true,
          reflectToAttribute: true,
          readOnly: true,
          value: ''
        },
        active: {
          type: Boolean,
          value: true,
          notify: true,
          reflectToAttribute: true
        }
      },

      scanCode: function() {
        Quagga.init({
          inputStream : {
            name : "Live",
            type : "LiveStream",
            target: document.querySelector('#interactive')
          },
          decoder : {
            readers : ["ean_reader"],
            multiple: false
          },
          numOfWorkers: 0,
          inputStream: {
            name: "Live",
            type: "LiveStream",
            size: 1280
          }

        }, function(err) {
          if (err) {
            console.log(err);
            return;
          }
          console.log("Quagga initialization finished. Ready to start");
          Quagga.start();
        });

        Quagga.onDetected(function(result) {
          console.log('result detected');
          console.log(result);
        });
      },

      suspend: function() {
        Quagga.stop();
      },

      resume: function() {
        Quagga.start();
      }
    });
  </script>
</dom-module>
