<!-- A pull out of just one book card -->
<link rel="import" href="./common-elements.html">
<dom-module id="book-card">
  <style include="shared-styles">
    #increment-count{
      color: var(--app-primary-color);
      margin-left: -5px;
    }
    .times{
      width: 40px;
      padding-left: 10px;
      @apply(--layout-vertical);
      @apply(--layout-center-justified);
    }
    .times-text{
      margin-top: 5px;
      margin-left: -10px;
      @apply(--layout-self-center);
      font-variant: small-caps;
      color: var(--success-color);
      font-size: 80%;
    }
    .ratings{
      margin: 10px 0 0 0;
      padding-bottom: 0;
      @apply(--layout-horizontal);
      vertical-align: bottom;
    }
    .rating{
      margin: 5px 10px 5px 0;
      font-size:  85%;
      @apply(--layout-vertical);
      padding: 5px 5px 5px 0;
    }
    .rater{
      margin-bottom: -5px;
    }
    star-rating{
      margin: 0;
      padding-left: 8px;
      font-size: 0.65em;
      color: var(--alert-color);
    }
    star-rating {
      --star-rating-icon-size: 10px;
    }
    .smaller{
      font-size: 75%;
    }
    @media screen and (min-width: 600px){
      iron-icon.iconformat{
        width: 15px;
        height: 15px;
      }
      iron-icon.arrowicon{
        width: 30px;
        height: 30px;
      }
    }
  </style>
  <template>
    <littlereads-store id="store" user-lists="{{userLists}}" user="{{user}}" selected-lists-ids = "{{selectedListsIds}}"></littlereads-store>
    <paper-card class="book" >
      <div class="card-content">
        <div class="times">
          <paper-tooltip for="increment-count" position="right" offset="0">Increase Count by 1</paper-tooltip>
          <paper-icon-button id="increment-count" on-tap="_incrementTimes" icon="add-circle"></paper-icon-button>
          <span class="times-text" on-tap="showTimesDetails">[[_calculateTimesRead(book.read)]] times</span>
        </div>
        <div class="info">
          <div class="book-title">
          [[book.title]]
          </div>
          <div class="book-authors">By
            <template is="dom-if" if="[[book.authors]]" restamp="true">
             <span>[[formatAuthorsList(book.authors)]]</span>
            </template>
          </div>
          <div class="ratings self-end">
            <div class="rating">
              <span class="rater">Child</span>
              <star-rating rate="[[book.reader-rating]]" on-tap="changeRating"></star-rating>
            </div>
            <div class="rating right">
              <span class="rater">Parent</span>
              <star-rating rate="[[book.parent-rating]]" on-tap="changeRating"></star-rating>
            </div>
          </div>
        </div>
        <iron-image class="book-image" sizing="cover" src=[[book.smallThumbnail]]></iron-image>
      </div>
      <!-- TODO hook up actions -->
      <div class="card-actions">
        <paper-tooltip for="decrement-count" position="right" offset="0">Decrease Count by 1</paper-tooltip>
        <paper-icon-button raised id="decrement-count" icon="remove-circle" on-tap="_decrementTimes"></paper-icon-button>

       <!-- <paper-button class="act">Edit</paper-button>
        <paper-button class="act">More...</paper-button> -->
        <paper-tooltip for="delete-book" position="left" offset="0" >Delete Book</paper-tooltip>
        <paper-icon-button raised id="delete-book" icon="delete" on-tap="actionsopen"></paper-icon-button>
        <paper-dialog id="confirmdeletebook" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
          <h2>Delete Book and Data?</h2>
          <p>Do you want to delete this book and it's reading log from your list? Be warned, even a magic wand won't be able to bring it back...</p>
          <div class="buttons">
            <paper-button dialog-confirm on-tap="deleteBook">Delete This Book</paper-button>
            <paper-button dialog-dismiss autofocus>Cancel</paper-button>
          </div>
        </paper-dialog>
        <paper-button class="smaller">Added: <br>[[_formatDate(book.added)]]</paper-button>
        <paper-button class="smaller">Updated: <br>[[_formatDate(book.updated)]]</paper-button>
      </div>
    </paper-card>
  </template>
  <script>
    Polymer({
      is: "book-card",
      behaviors: [LittleReads.commonBehavior,
        LittleReads.StoreBehavior
      ],
      _calculateTimesRead: function(readLog){
        // console.log('in calculate-times ',readLog);
        if (readLog){
          var totalBooks = 0;
          for(var i=0; i < readLog.length; i++){
            totalBooks = totalBooks + readLog[i].times;
          }
          return totalBooks;
        }
        return 0;
      },
      formatAuthorsList: function(authors) {
        return authors.join(', ');
      },
      _formatDate: function(dateObj){
        return moment(dateObj).format("D-MMM-YYYY");
      },
      _incrementTimes: function(evt){
        // console.log('increment times',evt.model.item.title );
        var title = this.book.title;
        this.changeTimes(title, "increment");
      },
      _decrementTimes: function(evt){
        var title = this.book.title;
        this.changeTimes(title, "decrement");
      },
      changeTimes: function(title, action){
        // console.log(action);
        var today = String(new Date());
        // console.log('books-list::_changeTimes change times read ',action);
        this.$.store._changeTimesRead({
          title: title,
          date: today,
          change: action,
        });
      },
      changeRating: function(evt){
        var el = evt.target.closest('star-rating');
        var changeFor = (el.parentElement.getElementsByClassName('rater')[0].innerText).toLowerCase();
        var title = this.book.title;
        var newValue = el.rate;
        var rater;
        var today = String(new Date());
        if (changeFor === "parent"){
          rater = "parent-rating";
        } else {
          rater = "reader-rating";
        }
        // console.log(rater, newValue);
        this.$.store._changeRating({
          // userId: this.userid,
          title: title,
          rater: rater,
          newValue: newValue,
          updated: today
        });
      },
      showTimesDetails: function(evt){
        // this is the function to see details of the times you have read this book
        // and modify it
        // console.log(evt);
        var el = evt.target;
        // console.log(evt.model.item);
        // console.log(evt.model.item.title);
        // read the evt.model.item.read array
        // look at all the values greater than 0
        // the first value is for "added"
        // display all the rest in a calendar in a popup
        // use D3.js for this visualization
        // add another button to see the times read en the delete, reduce bar
        // console.log(evt.target.model.item.title);
      },
      actionsopen: function(evt){
        var cardEl = evt.target.closest('.book');
        this.deleteTitle = cardEl.getElementsByClassName('book-title')[0].innerText;
        this.querySelector('#confirmdeletebook').open();
      },
      deleteBook: function(evt){
        // console.log('Deleting ',this.deleteTitle);
        this.$.store._deleteBook({
          title: this.deleteTitle
        });
      },
    });
  </script>
</dom-module>
