<!-- This element will display the books in your account.  -->
<link rel="import" href="./common-elements.html">
<!--<link rel="import" href="./add-book.html">
<link rel="import" href="./search-bar.html">-->


<dom-module id="books-list">
  <style include="shared-styles">
    :host {
      margin: 0px;
      padding: 0px;
    }
    .list{
      @apply(--layout-horizontal);
      @apply(--layout-wrap);
      @apply(--layout-around-justified);
    }
    .addBook{
      width: 75px;
      height: 75px;
      float:  right;
    }
    .sort-buttons-div{
      font-size: 75%;
    }
    .selected{
      background-color: var(--light-gray);
    }
    .sorticon{
      visibility: hidden;
    }
    .smaller{
      font-size: 75%;
    }
    @media screen and (min-width: 600px){
      iron-icon.iconformat{
        width: 15px;
        height: 15px;
      }
      iron-icon.arrowicon{
        width: 30px;
        height: 30px;
      }
    }

  </style>
  <template>
    <littlereads-store id="store" user-lists="{{userLists}}" user="{{user}}" selected-lists-ids = "{{selectedListsIds}}"></littlereads-store>
    <template is="dom-if" if="{{user.loggedIn}}">
      <add-book></add-book>
      <ul class="card" id="booksListCard">
        <paper-toast id="bookadderrortoast" class="toasts delete" vertical-align="top" text=""></paper-toast>
        <!-- [[user.username]] || [[user.uid]] || [[user.email]] -->
        <h1 class="name">{{user.username}}</h1>
        <h2 class="books-count">Total number of books read: [[userlist.totalRead]]</h2>
        <!-- <div class="sort-buttons-div"> -->
          <paper-tabs class="sort-buttons-div" id="sort-bar" selected="{{selected}}" attr-for-selected="name" no-bar>
            <paper-button name="title" on-tap="_sortMethod">Title
              <iron-icon class="sorticon arrowicon" icon="{{_getIcon(sortOrder)}}"></iron-icon>
            </paper-button>
            <paper-button name="updated" class="selected" on-tap="_sortMethod">Updated
              <iron-icon class="arrowicon" icon="{{_getIcon(sortOrder)}}"></iron-icon>
            </paper-button>
            <paper-button name="added"  on-tap="_sortMethod">Added
              <iron-icon class="sorticon arrowicon" icon="{{_getIcon(sortOrder)}}"></iron-icon>
            </paper-button>
            <paper-button name="parent-rating" on-tap="_sortMethod">Parent <iron-icon class="iconformat" icon="star"></iron-icon>
              <iron-icon class="arrowicon sorticon" icon="{{_getIcon(sortOrder)}}"></iron-icon>
            </paper-button>
            <paper-button name="reader-rating" on-tap="_sortMethod">Child <iron-icon class="iconformat" icon="star"></iron-icon>
              <iron-icon class="arrowicon sorticon" icon="{{_getIcon(sortOrder)}}"></iron-icon>
            </paper-button>
          </paper-tabs>
        <!-- </div> -->
        <hr>
        <li class="list">
          <template id="bookslist" is="dom-repeat" items="[[userlist.booksList]]" sort="_sortByProperty">
            <book-card book="{{item}}"></book-card>
          </template>
        </li>
      </ul>
    </template>
  </template>
  <script>
    Polymer({
      is: "books-list",
      properties: {
        userLists: Object,
        user:Object,
        userid: String,
        userlist: Object,
        selected: {
          type: String,
          notify:true,
          value: 'updated',
          reflectToAttribute:true
        },
        sortProperty: {
          type: String,
          value:"updated"
        },
        sortOrder: {
          type: Number,
          value: 1
          //1 = descending, -1 = ascending
        },
        errorMessage: String,
      },
      behaviors: [LittleReads.commonBehavior],
      observers: [
        'onUserListsChange(userLists.*)',
       ],
      onUserListsChange: function(userLists){
        // console.log(userLists);
        this.userlist = this.userLists;
      },
      _sortMethod:function(event){
        var name = event.target.getAttribute("name");
        // console.log('sorting on ', name);
        if (name){
          if (name === this.sortProperty){
            this.sortOrder = this.sortOrder*-1;
          } else {
            // get previously selected element
            var str= "[name='"+this.sortProperty+"']";
            var prevElement = this.querySelector(str);
            prevElement.classList.remove("selected");
            // hide arrow for previously selected element
            prevElement.querySelector("iron-icon").classList.add('sorticon');
            str = "[name='"+name+"']";
            var currElement = this.querySelector(str);
            currElement.classList.add("selected");
            // show arrow for current selected elemen
            currElement.querySelector("iron-icon").classList.remove('sorticon');
            this.sortProperty = name;
            this.sortOrder = this.sortOrder*-1;
          }
          this.querySelector("#bookslist").render();
        }
      },
      _sortByProperty: function(a,b){
        var prop = this.sortProperty;
        var a = a[prop];
        var b = b[prop];

        // console.log(new Date(a[prop]), new Date(b[prop]));
        if ((prop === "updated") || (prop === "added")){
          a = moment(a).unix();
          b = moment(b).unix();
        }
        if (a > b){
          return (-1*this.sortOrder);
        }
        return (1*this.sortOrder);
      },
      _getIcon: function(){
        // returns the upward arrow or downward arrow depending on sort order
        if (this.sortOrder === 1)
          //1 = descending, -1 = ascending
          return "arrow-drop-down";
        else
          return "arrow-drop-up";
      }
    });
  </script>
</dom-module>
