<!-- element to draw a bar chart using d3 -->
<link rel="import" href="./common-elements.html">
<script src="../bower_components/d3/d3.min.js" type="text/javascript" charset="utf-8" async defer></script>

<dom-module id="d3-bar-chart">
	<style include="shared-styles">
		/*
		** http://cagrimmett.com/til/2016/04/26/responsive-d3-bar-chart.html
		*/
	  :host{
	  	overflow-x: scroll;
	  }
		.axis path, .axis line{
			fill: none;
			stroke: steelblue;
		}
		.axis text{
			font-size: 12px;
		}
		.bar {
			fill: steelblue;
		}
		.bar:hover{
			fill: red;
		}
		svg{
			min-width: 200px;
			overflow-x: hidden;
		}
		svg text.label{
			fill: white;
			font: 11px;
			font-weight: 300;
			text-anchor: middle;
		}

		/* .svg-container{
			display: inline-block;
			position: relative;
			width: 100%;
			padding-bottom: 100%;*/ /* aspect ration */
		/*	vertical-align: top;
			overflow: hidde
		}
		.svg-content-responsive{
			display: inline-block;
			position:  absolute;
			top: 10px;
			left: 0;
		} */
		.outer{
			overflow-x: scroll;
			width: 90vw;
			height: 60vw;
		}

	</style>
	<template>
		<div class="outer" style='width: "{{width}}"; height: "{{height}}"'>
			<svg ></svg>
		</div>
	</template>
	<script>
		Polymer({
			is: "d3-bar-chart",
			behaviors: [LittleReads.commonBehavior,
			LittleReads.StoreBehavior
			],
			properties: {
				data: {
					type: Object,
					value: {
						data: [],
						options:{}
					}
				},
				svg: {
					type: Object
				},
				width: Number,
				height: Number,
			},
			observers: [
			'onDataChanged(data.*)',
			'onWidthChanged(width)'
			],
			onDataChanged: function(){
      	// console.log('listener', this.data);
      	// console.log(this.width);
      	// console.log(this.height);
      	if (this.data.data.length > 0){
      		this.drawChart();
      	}
      },
      onWidthChanged: function(width){
      	// console.log("width is ", width);
      	this.height = Math.round(this.width/1.6);
      	// console.log(this.$$('svg'));
      	// remove existing contents of svg
      	var myNode = this.querySelector("svg");
      	while (myNode.firstChild){
      		myNode.removeChild(myNode.firstChild);
      	}
      	this.drawChart();
      },
      ready: function(){
      	// to make sure the svg styles are applied inside the shadow dom
      	this.scopeSubtree(this.$$('svg'), true);
      	this.set('svg', this.$$('svg'));
			},
			attached: function(){
				if (!this.width) {
					this.width = Polymer.dom(this).parentNode.clientWidth;
					console.log("this.width is", this.width);
					this.height = Math.round(this.width / 1.6);
				}
			},
			drawChart: function(){
				var self = this;
				var that = this;
				var data = this.data.data;
				// console.log(data);
				var options = this.data.options;
				var isDate = (options["x-axis-title"] === "Date");
				// console.log(options["x-axis-title"], isDate);

				var parseDate = d3.timeParse("%Y/%m/%d");
				var formatDate = d3.timeFormat("%b %e");
				if (isDate){
					// format date data
					// console.log(data);
					var d2 = data.map(function(item){
						return ([formatDate(parseDate(item[0])), item[1]]);
					});
					// console.log(d2);
					data = d2;
				}
				/*
				** http://cagrimmett.com/til/2016/04/26/responsive-d3-bar-chart.html
				*/
				// set margins, sizes
				var margin = {top: 10, right:20, bottom: 40, left:10};
				if (this.width > 960){
					var width = this.width - margin.left - margin.right;
				} else {
					var width = 960 - margin.left - margin.right;
				}
				// var height = 500 - margin.top - margin.bottom;
				// var width = this.width - margin.left - margin.right;
				var height = this.height - margin.top - margin.bottom;

				// set up basic scales
				// used to be in d3 3.x - 3.scale.ordinal().rangeRoundBands([0, width], .03)
				var xScale = d3.scaleBand()
											.rangeRound([0, width])
											.paddingInner(0.1);
				var yScale = d3.scaleLinear()
											.range([height,0]);

				// setup axes
				var xAxis = d3.axisBottom(xScale);
				var yAxis = d3.axisLeft(yScale);

				var svgContainer = d3.select(this.svg)
												.attr("width", width + margin.left + margin.right)
												.attr("height", height + margin.top + margin.bottom)
												.append("g")
												// .attr("class", "container")
												.attr("transform", "translate(" + margin.left + "," + margin.top + ")" );

				xScale.domain(data.map(function(d){ return d[0]; }));
				yScale.domain([0, d3.max(data, function(d) { return d[1]; })]);

				// Place x-axis
				var xAxis_g = svgContainer.append("g")
											.attr("class", "x axis")
											.attr("transform", "translate(0," + height + ")")
											.call(xAxis.tickFormat(function(d){return d;}))
											.selectAll("text")
											// http://stackoverflow.com/questions/16039693/how-to-do-wordwrap-for-chart-labels-using-d3-js
											.each(function(d,i){ self.insertLineBreaks(this, d, xScale.bandwidth()); });

    // svgContainer.select('.x.axis').selectAll("text").call(wrap, xScale.bandwidth());
				// var yAxis_g = svgContainer.append("g")
				// 							.attr("class", "y axis")
				// 							.call(yAxis);
				// 							// .attr("transform", "rotate(-90)")
				// 							// 	.ticks(4)
				// 							// 	.tickFormat(d3.format("d"))
				// 							// );

				// draw rectanges
				svgContainer.selectAll(".bar")
							.data(data)
							.enter()
							.append("rect")
							.attr("class","bar")
							.style("fill", "url(#gradient-rainbow-main)")
							.attr("x", function(d) { return xScale(d[0]) ; })
							// .attr("width", xScale.rangeBand() ) v3
							.attr("width", xScale.bandwidth())
							.attr("y", function(d){ return yScale(d[1]); })
							.attr("height", function(d){ return height - yScale(d[1]) ; });

				// Adding read labels on top of bar
				svgContainer.selectAll(".text")
					.data(data)
					.enter()
					.append("text")
					.attr("class", "label")
					.attr("x", (function(d){ return xScale(d[0]) + xScale.bandwidth() / 2 ;} ))
					.attr("y", function(d){ return yScale(d[1]) })
					.attr("dy", "1em")
					.text(function(d){ return d[1]});

				defs = svgContainer.append("defs");
				createGradient("gradient-rainbow-main", "60%");
				defs.append("clipPath")
      		.attr("id", "clip")
      		.append("rect")
	    		.attr("x", -margin.left)
      		.attr("width", width + margin.left)
      		.attr("height", height);

				/*
				** add graph title
				*/
				// svg.append("text")
				// 	.attr('x', 0)
				// 	.attr('y', 0)
				// 	.attr('text-anchor', 'left')
				// 	.style('font-size', '14px')
				// 	.text(options["chart-title"]);
				//
				// this.wrapText(xScale.bandwidth());
				function createGradient(idName, endPerc) {
					var coloursRainbow = ["#EFB605", "#E9A501", "#E48405", "#E34914", "#DE0D2B", "#CF003E", "#B90050", "#A30F65", "#8E297E", "#724097", "#4F54A8", "#296DA4", "#0C8B8C", "#0DA471", "#39B15E", "#7EB852"];
					defs.append("linearGradient")
						.attr("id", idName)
						.attr("gradientUnits", "userSpaceOnUse")
						.attr("x1", "0%").attr("y1", "0%")
						.attr("x2", "0%").attr("y2", endPerc)
						.selectAll("stop")
						.data(coloursRainbow)
						.enter().append("stop")
						.attr("offset", function(d,i) { return i/(coloursRainbow.length-1); })
						.attr("stop-color", function(d) { return d; });
					}//createGradient

			},
			insertLineBreaks: function (t, d, width){
				// function to wrap x-axis labels
				var el = d3.select(t);
				var p = d3.select(t.parentNode);
				p.append('foreignObject')
					.attr('x', -width/2)
					.attr("width", width)
					.attr("height", 200)
					.append("xhtml:p")
					.attr('style', 'word-wrap:break-word; text-align:center')
					.html(d);
				el.remove();
			},
     });
   </script>
 </dom-module>

