<!-- This elements queries google for a book with the title and retunrs
a list of matching books which are displayed.
Then the user selects one book which is added back to the form
 -->
 <!-- google book search api could not find some books bought fro india. - big bad bull. so trying goohreads -->

<!--
  goodreads search api - https://www.goodreads.com/api/index#search.books

  needs CORS, returns XML
  Cannot useg iron-ajax directly since it does not support jsonp

  tried using byutv-jsonp - but cannot handle xml response

  so next, try iron-ajax + yql as per http://stackoverflow.com/questions/10399100/how-to-parse-goodreads-apis-response-in-xml


 -->


<link rel="import" href="./common-elements.html">

<dom-module id="goodreads-book-search">
	<style include="shared-styles">
    .card{ /* reuse the .card style used in books-list */
      display: flex;
      flex-wrap: wrap;
    }
    .info{ /*increase padding and size for info box only here */
      /* padding: 15px; */
      font-size: 120%;
    }
		paper-icon-button {
      margin: 0;
      padding: 0;
      height: 24px;
      width: 24px;
    }
		.search-wrapper {
      display: inline-block;
      margin: 2px 0;
      padding: 5px;
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }
    .spinner{
      width: 85%;
      min-width: 250px;
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }
    paper-spinner.book-spinner{
      margin: 5px 10px;
      --paper-spinner-layer-1-color: var(--paper-purple-500);
      --paper-spinner-layer-2-color: var(--paper-cyan-500);
      --paper-spinner-layer-3-color: var(--paper-blue-grey-500);
      --paper-spinner-layer-4-color: var(--paper-amber-500);
      --paper-spinner-stroke-width: 2px;
    }
    paper-input{
      width: 85%;
      min-width: 250px;
    }
    .list, paper-card.book{
      min-width: 200px;
      max-width: 300px;
      margin-right: 10px;
      /* font-size: 90%; */
    }
    .book:hover{
      /* background-color: #ddd; */
      background-color: var(--light-gray);
    }
	</style>
	<template>
    <littlereads-store id="store" user-lists="{{userLists}}" selected-lists-ids = "{{selectedListsIds}}" user="{{user}}"></littlereads-store>
    <!-- <byutv-jsonp
        auto
        id="byutvjsonp"
        url="https://www.goodreads.com/search.xml"
        params="{{ajaxParams}}"
        on-response="handleResponse"
        on-error="handleError"
        debounce-duration="600">
    </byutv-jsonp> -->
     <iron-ajax
      id="ironajax"
      url="http://query.yahooapis.com/v1/public/yql"
      params="{{ajaxParams}}"
      handle-as="json"
      on-response="handleResponse"
      on-error="handleError">
    </iron-ajax>
    <div class='spinner'>
      <paper-spinner class="book-spinner" alt="Searching books"></paper-spinner>
      <paper-spinner class="book-spinner" alt="Searching books"></paper-spinner>
      <paper-spinner class="book-spinner" alt="Searching books"></paper-spinner>
      <paper-spinner class="book-spinner" alt="Searching books"></paper-spinner>
    </div>
    <div class="search-wrapper">
			<paper-input
        autofocus
				id="book-search"
				label="Title or Author"
				class="search"
				type="search"
				on-change="handleChange"
				value="{{value::input}}">
				<paper-icon-button id="searchButton" suffix icon="search">
			</paper-input>
    </div>
    <ul class="card">
      <template is="dom-repeat" items="[[items]]">
        <li class="list">
        	<paper-card class="book" on-tap="selectBook">
            <div class="card-content">
            	<div class="info">
            	 <div class="book-title">
                  <!-- [[item.volumeInfo.title]] -->
                  [[item.best_book.title]]
            	 </div>
                <div class="book-authors">
                  [[item.best_book.author.name]]
                  <!-- <template is="dom-if" if="[[item.volumeInfo.authors]]" restamp="true"><span>[[formatAuthorsList(item.volumeInfo.authors)]]</span></template>
                   -->
                   [[item.original_publication_year.content]]
                  <!--  <template is="dom-if" if="[[item.volumeInfo.authors && item.volumeInfo.publishedDate]]"> - </template>
                  <template is="dom-if" if="[[item.volumeInfo.publishedDate]]" restamp="true"><span>[[getPubDateYear(item.volumeInfo.publishedDate)]]</span></template> -->
                </div>
            </div>
            <!-- <template is="dom-if" if="[[item.volumeInfo.imageLinks.smallThumbnail]]" restamp="true">
              <iron-image class="book-image" sizing="cover" src="[[item.volumeInfo.imageLinks.smallThumbnail]]" alt="[[item.volumeInfo.title]]"></iron-image>
              </template> -->
              <template is="dom-if" if="[[item.best_book.image_url]]" restamp="true">
              <iron-image class="book-image" sizing="cover" src="[[item.best_book.image_url]]" alt="[[item.best_book.title]]"></iron-image>
              </template>
            </div>
        </li>
        </paper-card>
      </template>
    </ul>
	</template>
	<script>
		Polymer({
			is: "goodreads-book-search",
      behaviors: [LittleReads.StoreBehavior],
			properties: {
        GoodreadsApiKey:{
          type: String,
          value: "qMsBJIOs2Qc3JmESGRSXQ"
        },
        query: {
          type: String,
          value: ''
        },
        subtitleMaxLength: {
          type: Number,
          value: 75
        },
        snippetMaxLength: {
          type: Number,
          value: 250
        },
        items: {
          type: Array,
          value: []
        },
        ajaxParams: {
          type: String,
          computed: 'processParams(query, GoodreadsApiKey)'
        },
        selectedListsIds: Object,
        userid: String,
        userLists: Object
      },
      observers: [
        // 'userListsChanged(userLists.*)',
        'selectedListsIdsChanged(selectedListsIds.*)',
        // 'onUserLogin(user.loggedIn)'
      ],
      selectedListsIdsChanged: function(selectedListsIds){
      //   console.log(selectedListsIds);
        this.userlist = this.userLists[selectedListsIds.value[0]];
        this.userid = selectedListsIds.value[0];
      //   console.log(this.userlist);
      },
      processParams: function(query, GoodreadsApiKey) {
        var url = "https://www.goodreads.com/search/index.xml?key="+GoodreadsApiKey+"&q="+encodeURIComponent(query);
        // Use yql to overcome crossorigin, and to handle the xml response
        // yql also converts the xml format result from goodreads to json
        var yqlQuery = "select * from xml where url=\""+url+"\"";
        return {
          q: yqlQuery,
          format: "json"
        };
      },
      ready: function () {
        this.initialize();
      },
      initialize: function() {
        if (this.query) {
          // this.$.byutvjsonp.generateRequest();
          this.$.ironajax.generateRequest();
        }
      },
      handleChange: function() {
        if (this.value !== '') {
          this.items = []; //temporary workaround due to https://github.com/Polymer/polymer/issues/1742
          this.query = this.value;
          var spinners = this.getElementsByClassName('book-spinner');
          for (var key in spinners){
            spinners[key].active = true;
          }
          // this.$.byutvjsonp.generateRequest();
          this.$.ironajax.generateRequest();
        }
      },
      handleResponse: function(event) {
        // console.log(event);
        var spinners = this.getElementsByClassName('book-spinner');
          for (var key in spinners){
            spinners[key].active = false;
          }
        var goodreadsResults = event.detail.response.query.results.GoodreadsResponse.search;
        // console.log(goodreadsResults);
        this.items = goodreadsResults.results.work;
        // this.items = event.detail.response.items;
        console.log(this.items);
        // this.fire('google-books-search-success', {items: this.items});
      },
      handleError: function(event) {
        console.log(event);
        var xhr = event.detail.xhr,
            response = JSON.parse(xhr.response);
        console.log('Error: ' + xhr.status + ' - ' + response.error.message);
        // this.fire('google-books-search-error', {error: response.error});
      },
      formatAuthorsList: function(authors) {
        return authors.join(', ');
      },
      truncateString: function(string, length) {
        return string.length > length ? string.substr(0, length) + '...' : string;
      },
      truncateSubtitle: function(subtitle) {
        return this.truncateString(subtitle, this.subtitleMaxLength);
      },
      truncateSnippet: function(snippet) {
        return this.truncateString(snippet, this.snippetMaxLength);
      },
      getPubDateYear: function(date) {
        return date.length > 4 ? date.split('-')[0] : date;
      },
      selectBook: function(e){
        var selectedBook;
        var selectedEntry, title, authors, smallThumbnail;
        selectedEntry = e.currentTarget;
        title = selectedEntry.getElementsByClassName('book-title')[0].innerText;
        authors = selectedEntry.getElementsByClassName('book-authors')[0].innerText;
        authors = ((authors.split('-')[0]).split(','));
        if (selectedEntry.getElementsByClassName('book-image').length > 0){
          smallThumbnail = selectedEntry.getElementsByClassName('book-image')[0].src;
        }
        var today = String(new Date());
        selectedBook = {
          "title":title,
          "authors": authors,
          "source": [],
          "smallThumbnail": smallThumbnail,
          "reader-rating": 0,
          "parent-rating" : 0,
          "added": today,
          "updated": today,
          "read" : [{
            "date" : today,
            "times" : 0
          }]
        }
        this.$.store._addBook({
          userId: this.userid,
          newBook: selectedBook
        });
        actions.close();
      }

		});
	</script>
</dom-module>

