<!-- This elements queries google for a book with the title and retunrs
a list of matching books which are displayed.
Then the user selects one book which is added back to the form
 -->
<link rel="import" href="./common-elements.html">

<dom-module id="google-book-search">
	<style include="shared-styles">
    .card{ /* reuse the .card style used in books-list */
      display: flex;
      flex-wrap: wrap;
    }
    .list{
      @apply(--layout-horizontal);
      @apply(--layout-wrap);
      @apply(--layout-around-justified);
    }
    .info{ /*increase padding and size for info box only here */
      /* padding: 15px; */
      font-size: 120%;
    }
		paper-icon-button {
      margin: 0;
      padding: 0;
      height: 24px;
      width: 24px;
    }
		.search-wrapper {
      display: inline-block;
      margin: 2px 0 35px 0;
      padding: 5px;
      @apply(--layout-horizontal);
      @apply(--layout-center);
    }
    .spinner{
      width: 85%;
      min-width: 250px;
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }
    paper-spinner.book-spinner{
      margin: 5px 10px;
      --paper-spinner-layer-1-color: var(--paper-purple-500);
      --paper-spinner-layer-2-color: var(--paper-cyan-500);
      --paper-spinner-layer-3-color: var(--paper-blue-grey-500);
      --paper-spinner-layer-4-color: var(--paper-amber-500);
      --paper-spinner-stroke-width: 2px;
    }
    paper-input{
      width: 85%;
      min-width: 250px;
    }

    .book:hover{
      /* background-color: #ddd; */
      background-color: var(--light-gray);
    }
    /* Mobile style */
    @media (max-width:40rem) {
      :host{
        width:100vw;
        padding: 0px;
        margin: 0px;
      }
      .card{
        padding: 0px;
        margin: 0px;
        margin-left:  -20px;
        width: 100vw;
      }
      paper-card{
        width: 100vw;
      }
    }
	</style>
	<template>
    <littlereads-store id="store" user-lists="{{userLists}}" selected-lists-ids = "{{selectedListsIds}}" user="{{user}}"></littlereads-store>
    <iron-ajax
      id="ironajax"
      url="https://www.googleapis.com/books/v1/volumes"
      params="{{ajaxParams}}"
      handle-as="json"
      on-response="handleResponse"
      on-error="handleError">
    </iron-ajax>
    <div class='spinner'>
      <paper-spinner class="book-spinner" alt="Searching books"></paper-spinner>
      <paper-spinner class="book-spinner" alt="Searching books"></paper-spinner>
      <paper-spinner class="book-spinner" alt="Searching books"></paper-spinner>
      <paper-spinner class="book-spinner" alt="Searching books"></paper-spinner>
    </div>
    <div class="search-wrapper">
			<paper-input
        autofocus
				id="book-search"
				label="Title / Author / ISBN"
				class="search"
				type="search"
				on-change="handleChange"
				value="{{value::input}}">
				<paper-icon-button id="searchButton" suffix icon="search">
        <iron-a11y-keys id="gba11y" target="[[_target]]" keys="enter" on-keys-pressed="initialize"></iron-a11y-keys>
			</paper-input>
    </div>
    <ul class="card">
      <template is="dom-repeat" items="[[items]]">
        <li class="list">
        	<paper-card class="book" on-tap="selectBook">
            <div class="card-content">
            	<div class="info">
            	 <div class="book-title">
                  [[item.volumeInfo.title]]
            	 </div>
                <div class="book-authors">
                  <template is="dom-if" if="[[item.volumeInfo.authors]]" restamp="true"><span class="authors">[[formatAuthorsList(item.volumeInfo.authors)]]</span></template>
                  <template is="dom-if" if="[[item.volumeInfo.authors && item.volumeInfo.publishedDate]]"> - </template>
                  <template is="dom-if" if="[[item.volumeInfo.publishedDate]]" restamp="true"><span>[[getPubDateYear(item.volumeInfo.publishedDate)]]</span></template>
                </div>
            </div>
            <template is="dom-if" if="[[item.volumeInfo.imageLinks.smallThumbnail]]" restamp="true">
              <iron-image class="book-image" sizing="cover" src="[[item.volumeInfo.imageLinks.smallThumbnail]]" alt="[[item.volumeInfo.title]]"></iron-image>
              </template>
            </div>
        </li>
        </paper-card>
      </template>
    </ul>
	</template>
	<script>
		Polymer({
			is: "google-book-search",
      behaviors: [LittleReads.commonBehavior,LittleReads.StoreBehavior],
			properties: {
        query: {
          type: String,
          value: ''
        },
        maxResults: {
          type: Number,
          value: 20
        },
        orderBy: {
          type: String,
          value: 'relevance'
        },
        subtitleMaxLength: {
          type: Number,
          value: 75
        },
        snippetMaxLength: {
          type: Number,
          value: 250
        },
        items: {
          type: Array,
          value: []
        },
        ajaxParams: {
          type: String,
          computed: 'processParams(query, maxResults, orderBy)'
        },
        selectedListsIds: Object,
        userid: String,
        userLists: Object
      },
      observers: [
        // 'userListsChanged(userLists.*)',
        'selectedListsIdsChanged(selectedListsIds.*)',
        // 'onUserLogin(user.loggedIn)'
      ],
      selectedListsIdsChanged: function(selectedListsIds){
      //   console.log(selectedListsIds);
        this.userlist = this.userLists[selectedListsIds.value[0]];
        this.userid = selectedListsIds.value[0];
      //   console.log(this.userlist);
      },
      processParams: function(query, maxResults, orderBy) {
        return {
          q: query,
          maxResults: maxResults,
          orderBy: orderBy,
          fields: "items(volumeInfo/title,volumeInfo/previewLink,volumeInfo/subtitle,volumeInfo/authors,volumeInfo/publishedDate,volumeInfo/imageLinks/smallThumbnail,searchInfo/textSnippet,volumeInfo/industryIdentifiers)"
        };
      },
      ready: function () {
        this.initialize();
      },
      initialize: function() {
        if (this.query) {
          this.$.ironajax.generateRequest();
        }
      },
      handleChange: function() {
        if (this.value !== '') {
          this.items = []; //temporary workaround due to https://github.com/Polymer/polymer/issues/1742
          this.query = this.value;
          var spinners = this.getElementsByClassName('book-spinner');
          for (var key in spinners){
            spinners[key].active = true;
          }

          this.$.ironajax.generateRequest();
        }
      },
      handleResponse: function(event) {
        var spinners = this.getElementsByClassName('book-spinner');
          for (var key in spinners){
            spinners[key].active = false;
          }
        this.items = event.detail.response.items;
        // console.log(this.items);
        // this.fire('google-books-search-success', {items: this.items});
      },
      handleError: function(event) {
        var xhr = event.detail.xhr,
            response = JSON.parse(xhr.response);
        console.log('Error: ' + xhr.status + ' - ' + response.error.message);
        // this.fire('google-books-search-error', {error: response.error});
      },
      formatAuthorsList: function(authors) {
        return authors.join(', ');
      },
      truncateString: function(string, length) {
        return string.length > length ? string.substr(0, length) + '...' : string;
      },
      truncateSubtitle: function(subtitle) {
        return this.truncateString(subtitle, this.subtitleMaxLength);
      },
      truncateSnippet: function(snippet) {
        return this.truncateString(snippet, this.snippetMaxLength);
      },
      getPubDateYear: function(date) {
        return date.length > 4 ? date.split('-')[0] : date;
      },
      selectBook: function(e){
        // change how this was done. instead of parsing the dom, just read the entry from items
        var selectedBook;
        var title,
            authors = [""],
            smallThumbnail = "",
            isbn10 = "",
            isbn13 = "";

        var el = e.model.item;
        title = el.volumeInfo.title;
        if (el.volumeInfo.authors){
          authors = el.volumeInfo.authors;
        }
        if (el.volumeInfo.imageLinks){
          smallThumbnail = el.volumeInfo.imageLinks.smallThumbnail;
        }
        if (el.volumeInfo.industryIdentifiers){
          var isbns = el.volumeInfo.industryIdentifiers;
          isbns.forEach(function(item){
            if (item["type"] === "ISBN_13")
              isbn13 = item["identifier"];
            if (item["type"] === "ISBN_10")
              isbn10 = item["identifier"];
          })
        }
        var today = String(new Date());
// update databases with isbns
// then add the isbn fields to this add book
// also add to other book
        selectedBook = {
          "title":title,
          "authors": authors,
          "source": [],
          "smallThumbnail": smallThumbnail,
          "reader-rating": 0,
          "parent-rating" : 0,
          "added": today,
          "updated": today,
          "isbn10": isbn10,
          "isbn13": isbn13,
          "read" : [{
            "date" : today,
            "times" : 0
          }]
        };
        var bookExists = this._doesBookExist(selectedBook, this.userLists); // if true, don't do anything. if false add book
        if (!bookExists){
          // console.log("adding book now");
          this.$.store._addBook({
            userId: this.userid,
            newBook: selectedBook
          });
          actions.close();
        } else {
          actions.close();
          // console.log("book already exists");
          this._openToast("Book is already in your list.", "booksListCard", "bookadderrortoast");
        }
      }

		});
	</script>
</dom-module>

