<!-- This is the landing page element -->
<link rel="import" href="./common-elements.html">

<dom-module id="landing-page">
	<style  include="shared-styles">
		.landing-container{
			@apply(--layout-horizontal);
			@apply(--layout-wrap);
			@apply(--layout-center-justified);
		}
		login-signup{
			@apply(--layout-horizontal);
			@apply(--layout-center-justified);
			margin-top: 10px;
		}

		.headline{
			width: 60%;
			padding: 20px 16px 6px 16px ;
			min-width: 300px;
			margin: 5px 5px 45px 5px;
			height: 325px;
			background: url("../images/bookshelf-01-white.jpg") no-repeat right;
			background-size: contain;
		}

		.headline > h1{
			font-weight: 600;
			color: var(--app-secondary-color);
			font-variant: none;
			text-transform: none;
			width:75%;
			padding-top:35px;
		}
		h2{
			text-transform: capitalize;
		}
		.tag-text, .tag-text a{
			color: var(--app-primary-color);
			font-size: 24px;
			line-height: 38px;

		}
		.features{
			@apply(--layout-horizontal);
			@apply(--layout-wrap);
			list-style: none;
			background-color:var(--light-gray);
		}
		.feature-entry{
			width: 325px;
			margin: 10px;
			padding:10px;
			@apply(--layout-horizontal);
		}
		.ironicon{
			@apply(--layout-horizontal);
			padding-top: 25px;
			padding-right: 15px;
		}
		iron-icon{
			width: 50px;
			height: 50px;
		}

		/* Mobile style */
		@media (max-width:40rem) {
			login-signup{
				background-color:var(--light-gray);
				padding:25px 5px;
			}
			.headline{
				padding-top:60px;
				height: 325px;
			}
			.headline > h1{
				width:100%;
				font-size:26px;
			}
			.tag-text, .tag-text a{
				font-size:20px;
				line-height: 34px;
			}
			.features{
				padding-left: 0px;
			}
		}
	</style>
	<template>
	    <iron-media-query query="(max-width:40rem)" query-matches="{{isMobileNav}}"></iron-media-query>

	<div class="card">
		<div class="landing-container">
			<div class="headline">
				<h1>How many books have you read to your child?</h1>
				<p class="tag-text"><a href="http://www.littlereads.us">Littlereads</a> helps you track how many times you read each book, not just how many books.</p>
				<!-- <div>
				<iron-image src="../images/bookshelf-01.jpg" style="width:100%; height:300px" sizing='contain'></iron-image>
				</div> -->
			</div>
			<login-signup></login-signup>
		</div>

		<!-- <hr> -->
		<div>
			<h3>Features</h3>

			<ul class="features">
				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/bookmark.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Track books you read to your child.
						</h4>
						<p>Not just how many titles, but also how many times you read each book!</p>
					</div>
				</li>
				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/six.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Perfect for "1000 books before 6"
						</h4>
						<p>Use this app to track your books for your <a href="https://www.sccl.org/Kids/Early-Learning/1000-Books-Before-6">1000 books before 6</a> or <a href="http://1000booksbeforekindergarten.org/">1000 books before kindergarten</a> programs.</p>
					</div>
				</li>
				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/responsive.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Works on all devices
						</h4>
						<p>Works on iPhones, Android devices, desktops, laptops.</p>

					</div>
				</li>
				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/offline.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Offline Access
						</h4>
						<p>See your data and count books offline. Any changes will be saved back to your account when you get back online.
					</div>
				</li>
				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/quickly.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Quickly, Easily Add New Books
						</h4>
						<p>Just enter the book Title/Author/ISBN/Keyword into the search bar. And select the book you want to add.<p>
						<p>Or enter the book details manually.</p>
						<!-- <p> Or use the barcode reader on your phone to scan the book and add it</p> -->
						<div>
						</div>
					</div>
				</li>
				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/count.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Find the number of times you read each book
						</h4>
						<p>Count the number of times each book is read. Not just the number of books!</p>
					</div>
				</li>


				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/sort.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Sort your list
						</h4>
						<p>View the books you've read by Title, Author, Added, Updated or Rated. Now it's super easy to find specific books or view your entire reading history.</p>
					</div>
				</li>
				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/analytics.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Reading Timeline
						</h4>
						<p>View your reading history. Get your most read statistics.
						<!--  in weekly, monthly and yearly pretty graphs. Keep and view a timeline of every book you read, every time you read it.  --></p>
					</div>
				</li>
				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/team.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Share your child's books list with family while keeping your login private.
						</h4>
						<p>You can add a family member so they can track the books they read as well! </p>
					</div>
				</li>


				<li class="feature-entry">
					<div class="ironicon">
						<iron-icon src="../images/progressive.svg"></iron-icon>
					</div>
					<div>
						<h4>
							Progressive Web Application
						</h4>
						<p>It is a website, which behaves like an app on your android phone. You can add a shortcut to your home screen - just like an app - but you don't have to download it.
					</div>
				</li>
			</ul>
		</div>
		<hr>
		<div>
			<h3>What is LittleReads?</h3>
			<div>
			<p>LittleReads is a cool tool for big people reading books to little people (who can't read just yet).</p>
			<p>Littlereads makes it insanely easy to track the books you read to your baby, toddler and preschooler.</p>
			<p>It is the perfect book tracking app the <a href="https://www.sccl.org/Kids/Early-Learning/1000-Books-Before-6">1000 books before 6</a> program and the <a href="http://1000booksbeforekindergarten.org/">1000 books before kindergarten</a> program.</p>
			<p>You read to you kid everyday. You know that tracking books for your child is not like tracking books for grown-ups. These little people make you read "Goodnight Moon" five times in a row, followed by "Little Blue Truck" three times. That is eight books in one sitting. </p>
			<p>With LittleReads, you track the books you read as well as the number of times you read each book. And you can rate each book - how well your child liked the book - as well as how well you liked reading the book. After all, reading a book you loathe but your child loves is a special endearing kind of hmmm... inconvenience, shall we say, and you would like to avoid it if you can. With LittleReads you can find a book both of you have enjoyed, and find similar books both of you might adore.</p>
			<p>If others are reading to your child and they want to help you track, you can add them to your child's account so they can update your littleLog. </p>
			<p>You can see your reading trends in the Stats section, and you can print out the pretty logs - for your kids scrapbook, or as an heirloom - so when they have kids of their own, they know what to read to them.</p>
			<p>So come join LittleReads.us and start tracking</p>
			</div>
		</div>
</div>
	</template>
	<script>
		Polymer({
			is: "landing-page",
			propertise: {

			},
			behaviors: [LittleReads.commonBehavior],
			observers: [
			'_isMobileNavChanged(isMobileNav)'
			],
			// Each time media query turns true or false (like a toggle), refresh styles
			// // https://github.com/Polymer/polymer/issues/2149
			_isMobileNavChanged: function(param) {
				this.updateStyles();
			},
		});
	</script>
</dom-module>
