<!-- A dialog template for all Littlereads -->
<link rel="import" href="./common-elements.html">
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-behavior.html">
<link rel="import" href="../bower_components/paper-dialog-behavior/paper-dialog-shared-styles.html">
<link rel="import" href="../bower_components/neon-animation/neon-animation-runner-behavior.html">


<dom-module id="littlereads-dialog">
  <template>
    <style include="paper-dialog-shared-styles">
      :host{
        /* background-color: yellow; */
        width:  calc(100vw - 100px);
        height: calc(100vh - 300px);
        margin: 0;
        padding: 0;
      }
      #close-dialog {
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        position: absolute;
        left: -16px;
        top: -16px;
        background: white;
        border: 1px solid #ededed;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
    </style>
    <content></content>
    <div id="close-dialog" dialog-dismiss>
      <img src="../images/x.svg" dialog-dismiss >
    </div>
  </template>
  <script>
    Polymer({
      is: "littlereads-dialog",
      behaviors: [
        Polymer.PaperDialogBehavior,
        Polymer.NeonAnimationRunnerBehavior
      ],
      listeners: {
       'neon-animation-finish': '_onNeonAnimationFinish'
      },
      _renderOpened: function() {
        this.cancelAnimation();
        this.playAnimation('entry');
      },
      _renderClosed: function() {
        this.cancelAnimation();
        this.playAnimation('exit');
      },
      _onNeonAnimationFinish: function() {
        if (this.opened) {
          this._finishRenderOpened();
        } else {
          this._finishRenderClosed();
        }
      }

    });
  </script>
</dom-module>
