<link rel="import" href="./common-elements.html">

<dom-module id="littlereads-contact">
	<style include="shared-styles">
		:host{
			font-size: 90%;
		}
		.notes-link{
			vertical-align: super;
			font-size: 80%;
		}
		blockquote{
			font-size: 80%;
			font-style: italic;
		}
		.features{
			@apply(--layout-horizontal);
			@apply(--layout-wrap);
			list-style: none;
			/* background-color:var(--light-gray); */
			padding: 10px;
		}
		.feature-entry{
			width: 325px;
			margin: 5px;
			padding:2px;
			@apply(--layout-horizontal);
			background-color:var(--light-gray);
		}
		.ironicon{
			@apply(--layout-horizontal);
      @apply(--layout-center);
			/* padding-top: 25px; */
			padding-right: 15px;
			padding-left: 15px;
		}
		.contact-list{
			@apply(--layout-horizontal);
			width: 200px;
			margin: 5px;
			padding: 5px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		}
		iron-icon{
			width: 30px;
			height: 30px;
			vertical-align: middle;
		}
	</style>
	<template>
		<div class="card">
			<div class="card">
			<h1>Contact</h1>
			<ul class="features">
				<li class="contact-list">
					<div class="ironicon">
						<a href="mailto:suprada@littlereads.us?Subject=LittleReads%20" target="_top">
						<iron-icon src="../images/email.svg"></iron-icon></a>
					</div>
					<p>
						<a href="mailto:suprada@littlereads.us?Subject=LittleReads%20" target="_top">Email Me</a></p>
				</li>
				<li class="contact-list">
					<div class="ironicon">
						<a href="http://twitter.com/home?status=LR @suprada">
						<iron-icon src="../images/twitter.svg"></iron-icon>
						</a>
					</div>
					<p>
						<a href="http://twitter.com/home?status=LR @suprada">Tweet me</a></p>
				</li>
				<!-- <li class="contact-list">
					<div class="ironicon">
						<iron-icon src="../images/textme.svg"></iron-icon>
					</div>
					<p>Text Me</p>
				</li> -->
				<li class="contact-list">
					<div class="ironicon">
						<a href="https://m.me/suprada.urval" target="_blank" rel="noopener noreferrer"><iron-icon src="../images/facebook.svg"></iron-icon>
						</a>
					</div>
					<p><a href="https://m.me/suprada.urval" target="_blank" rel="noopener noreferrer">Message me on Facebook</a></p>
				</li>
			</ul>
		</div>
	</template>
	<script>
		Polymer({
      is: "littlereads-contact",
      behaviors: [LittleReads.commonBehavior],
      properties:{

      }
    });
	</script>
</dom-module>
