<link rel="import" href="./common-elements.html">

<dom-module id="littlereads-info">
	<style include="shared-styles">
		:host{
			font-size: 90%;
		}
		.notes-link{
			vertical-align: super;
			font-size: 80%;
		}
		blockquote{
			font-size: 80%;
			font-style: italic;
		}
		.features{
			@apply(--layout-horizontal);
			@apply(--layout-wrap);
			list-style: none;
			background-color:var(--light-gray);
			padding: 10px;
		}
		.feature-entry{
			width: 325px;
			margin: 5px;
			/* padding:2px; */
			@apply(--layout-horizontal);
		}
	</style>
	<template>
		<div class="card">
			<h1>Technical Information and Credits</h1>
			<div>
				<h3>Credits</h3>
				<ul class="features">
					<li class="feature-entry">
						<div>
							<h4>Logo</h4>
							<p>Logo icons made by <a href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
						</div>
					</li>
					<li class="feature-entry">
						<div>
							<h4>Add book Icon</h4>
							<p>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a</p>
						</div>
					</li>
					<li class="feature-entry">
						<div>
							<h4>Home page graphics</h4>
							<p><a href='http://www.freepik.com/free-vector/books-on-shelves-in-flat-design_783180.htm'>Designed by Freepik</a></p>
						</div>
					</li>
					<!-- <li><div>Icons made by <a href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>(abc book)</li> -->
					<li class="feature-entry">
						<div>
							<h4>Typeface Credits</h4>
							<p><a href="https://www.cooperhewitt.org/open-source-at-cooper-hewitt/cooper-hewitt-the-typeface-by-chester-jenkins/">Cooper Hewitt</a> by Chester Jenkins</p>
						</div>
					</li>
				</ul>
			</div>

			<div>
				<h3>Version History</h3>
				<p>We’re hard at work adding features and fixing bugs on LittleReads. We operate on a continuous release cycle, and the changes are documented here.</p>
				<ul>
					<li>
						<h4>4/21/2017 - v0.8</h4>
						<p>
							<ul>
								<li>NEW: Now you can search within your books if your books list is super duper long.</li>
								<li>Improved: Moved Add Book Icon up to the menu bar. </li>
								<li>Improved: Icons, landing page and added a contact section for reporting issues.</li>
								<li>Fixed: Login forms were saving information between logins. </li>
								<li>Fixed: A bunch of other UI issues</li>
							</ul>
						</p>
					</li>
					<li>
						<h4>4/13/2017 - v0.7</h4>
						<p>
							<ul>
								<li>NEW: Added Google Analytics.</li>
								<li>Improved: The daily-books-read chart in the Stats section now renders nicely on mobile devices. It has also acquired rainbow colors and a scroll bar when the days read exceeds the device width. It is also reordered so that the x-axis is in descending order.</li>
								<li>Improved: New icons for "Add Book", and the features in the home page</li>
								<li>Fixed: Error messages were displaying in black on red in error tosts..</li>
								<li>Fixed: Some other minor UI changes.</li>
							</ul>
						</p>
					</li>
					<li>
						<h4>3/25/2017 - v0.6</h4>
						<p>
							<ul>
								<li>NEW: Now you can add book details manually using the "Add Book Manually" button. This is especially useful in those cases when your book does not show up through the search bar.</li>
								<li>NEW: A new table in "Account Stats" page with the list of your most read books by title.</li>
								<li>NEW: Added SSL certificate. Now this site is served over https!</li>
								<li>Fixed: Thumbnail image was not seen after adding a new book.</li>
								<li>Fixed: The days in the daily books read chart was not sorted in the chart.</li>
								<li>Fixed: some other minor fixes.</li>
							</ul>
						</p>
					</li>
					<li>
						<h4>3/13/2017 - Alpha 0.5</h4>
						<p>
							<ul>
								<li>Fixed sorting issue on the books-list page where the dates were not sorting properly</li>
								<li>Changed the Stats chart to use d3.js</li>
								<li>Updated site logo</li>
								<li>Edited About page</li>
							</ul>
						</p>
					</li>
				</ul>
			</div>

			<div class="features">
				<h3>Technical Details:</h3>
				<div>
					<p>Littlereads is a progressive web application build using the <a href="https://www.polymer-project.org/1.0/">Polymer</a> library. It uses <a href="https://firebase.google.com/">Firebase</a> for the backend and uses D3.js for charts.</p>
					<p>It is implemented using a <a href="#note1">centralized data flow model</a> <span class="notes-link">1</span> using <a href="https://github.com/tur-nr/polymer-redux">Polymer-Redux</a>. I chose to use the <a href="#note2">monostate pattern</a><span class="notes-link">2</span> in implementing the polymer-redux store</a>.</p>
					<p>Littlereads works offline, uses service workers and uses app-indexed-db to store data locally to enable offline access. I designed and implemented it to be a mobile-first, responsive single-page-application.</p>
				</div>
				<ul>
					<li><a name="note1"></a>1. Excerpt from <a href="https://github.com/graynorton/chat-view-summit-16/tree/redux-mono">here</a>
						<blockquote cite="https://github.com/graynorton/chat-view-summit-16/tree/redux-mono">
							<p>Centralized | Unidirectional: The app's model is centralized; all mutations occur in one place, with notifications flowing in only one direction – down the component hiearchy. Components deeper in the hierarchy are responsible only for rendering views and capturing user interacactions. Information about these interactions is conveyed via messages – actions in Flux / Redux parlance - to the centralized keeper of the model, which makes the corresponding mutations and flows notifications down.</p>
						</blockquote>
					</li>
					<li><a name="note2"></a>2. Excerpt from <a href="https://github.com/graynorton/chat-view-summit-16/tree/redux-mono">here</a>
						<blockquote cite="https://github.com/graynorton/chat-view-summit-16/tree/redux-mono">
							<p>MonoState Store Pattern: Each element gets its own instance of the data-store, but they are all backed by a single instance.</p>
						</blockquote>
					</li>
				</ul>
			</div>
		</div>
	</template>
	<script>
		Polymer({
      is: "littlereads-info",
      behaviors: [LittleReads.commonBehavior],
      properties:{

      }
    });
	</script>
</dom-module>
