<!-- The shell -->
<!-- add element for google authentication -->
<!-- add element to access firebase with this google authorization -->
<link rel="import" href="./common-elements.html">
<link rel="import" href="./store-behavior.html">
<link rel="import" href="./shared-styles.html">

<link rel="import" href="./my-elements.html">

<dom-module id="little-reads">
	<style include="shared-styles">
		:host {
			display: block;
			--app-primary-color: #8A7523;
			--app-secondary-color:#2E4139;
      --raven-dark: #373D3F; /* rgba(55,61,63,1);raven */
      --dark-gray: #757575;
      --medium-gray: #cccccc;
      --light-gray: #efefef;
      --white: #ffffff;
      --white-color: #fff;
      --success-color: #176E12;
      --alert-color:#71150E;
      background-color: var(--white);
		}
		app-drawer{
			--app-drawer-width:  100px;
		}
		app-toolbar{
			background-color: var(--app-primary-color);
		}
		.main-header {
			box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
		}
		paper-menu{
			width: 100px;
		}
		.main-title{
			font-weight: 200;
			color: var(--white);
		}
		.little{
			font-weight: 100;
			color: var(--white);
		}
		.reads{
			font-weight: 600;
			color: var(--white);
		}
		paper-tabs {
			--paper-tabs-selection-bar-color: var(--alert-color);
			height: 100%;
			max-width: 640px;
		}
		paper-tab {
			--paper-tab-ink: var(--medium-gray);
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			text-align: right;
		}
		paper-item.appMenuMobile, {
			color: var(--raven-dark);
			font-size: 70%;
		}
		paper-item.appMenu, .menu-button{
			color: var(--white);
			font-size: 80%;
		}
		paper-item.appMenu:hover, paper-item.appMenuMobile:hover{
			color: var(--raven-dark);
			background: var(--light-gray);
		}
		[hidden] {
			display: none !important;
		}
	</style>
	<template>
		<!-- main container -->
		<app-drawer-layout force-narrow>
			<app-drawer id="drawer" align="right" swipe-open>
				<!-- app drawer content -->
				<app-toolbar><paper-icon-button raised src="../images/littlereads_64.png"></paper-icon-button></app-toolbar>
				<!-- Nav on mobile: side nav menu -->
				<paper-menu id="navMenu" selected="{{selected}}" attr-for-selected="name">
					<paper-item name= "home" class="appMenuMobile" on-tap="closeDrawer">
						Home
					</paper-item>
					<template is="dom-if" if="{{showBooksMenuButton(selected)}}">
						<paper-item name="list" class="appMenuMobile" on-tap="closeDrawer">My Books</paper-item>
					</template>

					<paper-item class="appMenuMobile" name="list" on-tap="triggerLogout" hidden$="[[!showLogoutButton(user.loggedIn, user.online)]]">
						Logout
					</paper-item>

					<paper-item name="settings" class="appMenuMobile" on-tap="closeDrawer" hidden$="[[!showLogoutButton(user.loggedIn, user.online)]]">
						Settings
					</paper-item>
					<paper-item name="stats" class="appMenuMobile" on-tap="closeDrawer" hidden$="[[!showLogoutButton(user.loggedIn, user.online)]]">
						Stats
					</paper-item>

					<paper-item name="info" class="appMenuMobile" on-tap="closeDrawer">
						Info
					</paper-item>

					<paper-item name="contact" class="appMenuMobile" on-tap="closeDrawer">
						Contact
					</paper-item>
				</paper-menu>
			</app-drawer>

			<app-header-layout fullbleed>
				<app-header class="main-header" effects="waterfall" fixed>
					<app-toolbar>
						<div main-title class="main-title"><paper-icon-button raised src="../images/littlereads_64.png"></paper-icon-button><span class="little">Little</span><span class="reads">Reads</span></div>
						<!--only bigger than mobile-->
						<div class="tabs-bar" hidden$="{{!wideLayout}}">
							<!-- Nav on desktop: tabs -->
							<paper-tabs id="navTab" selected="{{selected}}" attr-for-selected="name" no-bar>
								<paper-tab name="home">
									<paper-item name="home" class="appMenu">Home</paper-item>
								</paper-tab>

								<template is="dom-if" if="{{showBooksMenuButton(selected)}}">
									<paper-tab name="list">
										<paper-item class="appMenu">My Books</paper-item>
									</paper-tab>
								</template>

								<paper-tab name="info">
									<paper-item name= "info" class="appMenu">Info</paper-item>
								</paper-tab>

								<paper-tab name="contact">
									<paper-item name= "contact" class="appMenu">Contact</paper-item>
								</paper-tab>

								<paper-tab name="stats" hidden$="[[!showLogoutButton(user.loggedIn, user.online)]]">
									<paper-item class="appMenu"></iron-icon>Stats</paper-item>
								</paper-tab>

								<paper-tab name="settings" hidden$="[[!showLogoutButton(user.loggedIn, user.online)]]">
									<paper-item class="appMenu"></iron-icon>Settings</paper-item>
								</paper-tab>

								<paper-tab name="list" on-tap="triggerLogout" hidden$="[[!showLogoutButton(user.loggedIn, user.online)]]">
									<paper-item class="appMenu">Logout</paper-item>
								</paper-tab>
							</paper-tabs>
						</div>
						<!--both mobile and desktops-->
						<div>
							<paper-icon-button raised src="../images/add-book.svg" onclick="actions.open()" hidden$="[[!showLogoutButton(user.loggedIn, user.online)]]">Add book</paper-icon-button>

							<!-- <add-book hidden$="[[!showLogoutButton(user.loggedIn, user.online)]]"></add-book> -->
							<search-bar></search-bar>
						</div>
						<!--only mobile-->
						<div hidden$="{{wideLayout}}">
							<paper-icon-button class="menu-button" icon="menu" drawer-toggle></paper-icon-button>
						</div>
					</app-toolbar>
				</app-header>
				<!-- main content -->
				<div class="content">
				<!-- <p>little-reads loggedIn: [[user.loggedIn]], online: [[user.online]]</p> -->
					<littlereads-store id="store" user="{{user}}"></littlereads-store>
					<firebase-app
						name="littleReads"
						api-key="[[FirebaseApiKey]]"
						auth-domain="[[FirebaseAuthDomain]]"
						database-url="[[FirebaseDb]]"
						storage-bucket="[[StorageBucket]]"
					></firebase-app>
					<firebase-app
						name="lr2"
						api-key="[[FirebaseApiKey]]"
						auth-domain="[[FirebaseAuthDomain]]"
						database-url="[[FirebaseDb]]"
						storage-bucket="[[StorageBucket]]"
					></firebase-app>
					<firebase-document
						app-name="littleReads"
						id="doc"
						path="/users/[[user.username]]"
						></firebase-document>

					<iron-pages selected="{{selected}}" attr-for-selected="name">
						<landing-page name="home">home here</landing-page>
						<littlereads-info name="info">info-here</littlereads-info>
						<littlereads-contact name="contact">contact-here</littlereads-contact>
						<template is="dom-if" if="{{user.loggedIn}}">
							<books-list name="list"></books-list>

							<template is="dom-if" if="{{user.online}}">
								<account-settings name="settings"></account-settings>
							</template>

							<template is="dom-if" if="{{user.online}}">
								<account-stats name="stats"></account-stats>
							</template>
						</template>
					</iron-pages>

				</div>

			</app-header-layout>
			<footer>

		</footer>
		</app-drawer-layout>

		<!-- iron media query for responsive design -->
		<iron-media-query query="min-width: 800px" query-matches="{{wideLayout}}"></iron-media-query>
	</template>
	<script>
		Polymer({
			is: 'little-reads',
			/*
	 		* @polymerBehavior
			*/
			behaviors: [LittleReads.commonBehavior],
			properties: {
				FirebaseApiKey:{
					type: String,
					value: "AIzaSyCdu8TC055cPNqVnvHnRKDqc-SHe8akYzc"
				},
				FirebaseAuthDomain:{
					type: String,
					value: "littlereads-c8955.firebaseapp.com"
				},
				FirebaseDb:{
					type: String,
					value: "https://littlereads-c8955.firebaseio.com"
				},
				StorageBucket:{
					type: String,
					value: "littlereads-c8955.appspot.com"
				},
				selected: {
					type: String,
					notify:true,
					value: 'home',
					reflectToAttribute:true
				},
				wideLayout: {
					type: Boolean,
					value: false,
					observer: 'onLayoutChange',
				},
				user:Object,
			},
			observers: [
      	'onUserLoginChanged(user.*)'
      ],
      onUserLoginChanged: function(){
      	// console.log(this.user.loggedIn);
      	if (this.user.loggedIn){
      		this.selected = 'list';
      	} else {
      		this.selected = "home";
      		// console.log('selected is',this.selected);
      	}
      },
			triggerLogout: function(e,detail){
				// console.log('logout button clicked');
				this.querySelector('auth-element').logOut(e);
				this.closeDrawer();
			},
			onLayoutChange: function(wide) {
				var drawer = this.$.drawer;
				if (wide && drawer.opened) {
					drawer.opened = false;
				}
			},
			closeDrawer: function(){
				this.querySelector('#drawer').close();
			},
			showBooksMenuButton: function(selected){
				if(this.user){
					if (this.user.loggedIn && (this.selected !== 'list')){
						return true;
					}
				}
				return false;
			},
			showLogoutButton: function(loggedIn, online){
				// if (this.user){
					if (loggedIn && online){
						return true;
					}
				// }
				return false;
			}
		});
	</script>
</dom-module>
