<link rel="import" href="./common-elements.html">
<link rel="import" href="./store-behavior.html">

<dom-module id="littlereads-store">
<script>
	Polymer({
		is: 'littlereads-store',
		/**
	 	* @polymerBehavior
	 	*/
		behaviors: [ LittleReads.StoreBehavior ],
		properties: {
			loggedIn: {
				readOnly: true,
				notify: true,
				statePath: 'loggedIn'
			},
			user: {
				readOnly: true,
				notify: true,
				statePath: 'user'
			},
			userId: {
				readOnly: true,
				notify: true,
				statePath: 'selectedUserId'
			},
			userLists:{
				readOnly: true,
				notify: true,
				statePath: 'userLists'
			},
			_userLogin: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						this.dispatch(LittleReads.act.userlogin(props.username, props.email, props.password));
					}).bind(this);
				}
      },
      _userSignUp: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						this.dispatch(LittleReads.act.usersignup(props.username, props.email, props.password));
					}).bind(this);
				}
      },
      _userLogOut: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						console.log('in littlereads userlogout');
						this.dispatch(LittleReads.act.userlogout());
					}).bind(this);
				}
      },
      _loggedIn: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						// console.log('in this._loggedIn littlereads-store.html', props);
						this.dispatch(LittleReads.act.loggedin(props.uid, props.username, props.email, props.login, props.create, props.loggedIn));
					}).bind(this);
				}
      },
      _offline: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						console.log('littlereads-store.html triggering offline mode', props);
						this.dispatch(LittleReads.act.offline(props.uid, props.username, props.email, props.loggedIn, props.online));
					}).bind(this);
				}
      },
      _online: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						// console.log('littlereads-store.html triggering offline mode', props);
						this.dispatch(LittleReads.act.online(props.online));
					}).bind(this);
				}
      },
      _updateStoreUserLists: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						// console.log(props.userlistcontent);
						this.dispatch(LittleReads.act.updateStoreUserLists(props.username, props.userlistcontent));
					}).bind(this);
				}
      },
      _updateUidsUserLists: {
      	readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						// console.log("littlereads-store::_updateUidsUserLists ", props.userlistcontent);
						this.dispatch(LittleReads.act.updateUidsUserLists(props.username, props.userlistcontent));
					}).bind(this);
				}
      },
			_addBook:{
				readOnly: true,
				notify: true,
				value: function(){
					return(function(props){
						this.dispatch(LittleReads.act.addbook(props.newBook));
					}).bind(this);
				}
			},
			_deleteBook:{
				readOnly: true,
				notify: true,
				value: function(){
					return(function(props){
						this.dispatch(LittleReads.act.deletebook(
							props.title));
					}).bind(this);
				}
			},
			_changeRating: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						this.dispatch(LittleReads.act.changerating(props.title, props.rater, props.newValue, props.updated));
					}).bind(this);
				}
			},
			_changeTimesRead: {
				readOnly: true,
				notify: true,
				value: function() {
					return (function(props){
						// console.log("littlereads-store::_changeTimesRead ",props);
						this.dispatch(LittleReads.act.changetimesread(props.title, props.date, props.change));
					}).bind(this);
				}
			},
		}
	});
</script>
</dom-module>
<!-- selectors are used to create derived datafrom the store, so that the components can use them directly -->
