<!-- add support for enter button -->
<link rel="import" href="./common-elements.html">
<link rel="import" href="./auth-element.html">
<!-- paper tab
		 paper tabs
		 paper card
		 paper-button
		 paper-toast

(forms)
		 iron form
		 iron-a11-keys
		 paper-input
		 gold-email-input
		 min-length-validator
		 paper-password-input
		 paper-button
		 paper-toast-->


<dom-module id="login-signup">
	<style include="shared-styles">
		:host{
			@apply(--layout-flex);
		}

		.card{
			@apply(--layout-horizontal);
			@apply(--layout-center-justified);
			width: 300px;
		}

		paper-card.reset{
			padding: 10px;
		}
		paper-button{
			width: 260px;
			/* color: #eee; */
			color: var(--light-gray);
			background-color: var(--app-primary-color);
			font-weight: 600;
		}
		.toggle-div{
			@apply(--layout-horizontal);
			font-size: 90%;
			text-transform: uppercase;
			/* color: #000; */
			color: var(--raven-dark);
		}
		.toggle-link{
			@apply(--layout-horizontal);
    	@apply(--layout-center-center);
    	text-decoration: none;
    	color: var(--app-primary-color);
			/* background-color: #ddd; */
			background-color: var(--light-gray);
		}
		#loginform, #signupform, #resetform{
			padding: 10px;
		}
		#loginButton, #signupButton, #resetButton{
			margin-bottom: 10px;
			@apply(--layout-horizontal);
    	@apply(--layout-center-center);
		}
		#confirmResetPassword{
			background-color: var(--success-color);
			color: #fff;
			p{
				color: #fff;
			}
		}


	</style>
	<template>
		<!-- gets status of loggedIn. If true, this element will not be displayed -->
		<littlereads-store id="store" user="{{user}}"></littlereads-store>
		<div class="loginLanding">
			<auth-element></auth-element>
			<template is="dom-if" if="{{!user.loggedIn}}">
			<div class="card">
				<paper-card class="login show" id="logincard">
					<paper-tabs class='toggle-div' selected='0' no-bar>
						<paper-tab>Login</paper-tab>
						<paper-tab link>
							<a href="#" class="toggle-link" on-click="_toggleForms">Sign Up</a>
						</paper-tab>
					</paper-tabs>

		 			<form is="iron-form" id="loginform" method="post">
		 				<iron-a11y-keys id="a11y" target="[[_target]]" keys="enter" on-keys-pressed="login"></iron-a11y-keys>
		 				<paper-input minlength="5" id="username" name="username" label="Username " value="{{username}}"required auto-validate error-message="invalid username" pattern="^[a-zA-Z0-9_-]{5,15}$"></paper-input>
		  			<gold-email-input id="email" name="email" label="Email Address" auto-validate required value="{{email}}"></gold-email-input>

		  			<min-length-validator id="min-length-validator" min-length="8"></min-length-validator>

						<paper-password-input id="password" name="password" label="Password" auto-validate validator="min-length-validator" error-message="Enter at least 8 characters" required value="{{password}}" type="password">
						</paper-password-input>
		  			<br>
		  			<paper-button id="loginButton" raised type="submit" on-tap="login">Login</paper-button>
		  			<paper-button class="forgot" on-tap="_showResetForm">Forgot your password?</paper-button>
		  			<paper-toast id="logintoast" class="fit-bottom toasts delete" text="{{errorMessage}}"></paper-toast>
		 			</form>
				</paper-card>
				<paper-card class="signup hide" id="signupcard">

					<paper-tabs class='toggle-div' selected='1' no-bar>
						<paper-tab link>
							<a href="#" class="toggle-link" on-click="_toggleForms">Login</a>
						</paper-tab>
						<paper-tab>Sign Up</paper-tab>
					</paper-tabs>

		 			<form is="iron-form" id="signupform" method="post">
		 				<iron-a11y-keys id="a11y" target="[[_target]]" keys="enter" on-keys-pressed="signUp"></iron-a11y-keys>
		 				<paper-input minlength="5" id="username" name="username" label="Child's name (no spaces / special characters)" value="{{username}}"required auto-validate error-message="invalid username" pattern="^[a-zA-Z0-9_-]{5,15}$"></paper-input>

		  			<gold-email-input id="email" name="email" label="Email Address" auto-validate required value="{{email}}"></gold-email-input>

						<min-length-validator id="min-length-validator" min-length="8"></min-length-validator>
						<match-passwords-validator id="match-passwords-validator" password="[[password]]"></match-passwords-validator>

						<paper-password-input id="password" name="password" label="Password" auto-validate validator="min-length-validator" error-message="Enter at least 8 characters" required value="{{password}}">
						</paper-password-input>

						<paper-password-input id="confirm" label="Confirm Password" auto-validate validator="match-passwords-validator" error-message="Passwords need to match" required value="{{confirm}}">
						</paper-password-input>

		  			<br>
		  			<paper-button id="signupButton" raised type="submit" on-tap="signUp">Sign Up</paper-button>
		  			<paper-toast id="signuptoast" class="fit-bottom toasts delete" text="{{errorMessage}}"></paper-toast>
		 			</form>
				</paper-card>

				<paper-card class="reset hide" id="resetcard">
					<paper-tabs class='toggle-div' selected='1' no-bar>
						<paper-tab link>
							<a href="#" class="toggle-link" on-click="_toggleForms">Login</a>
						</paper-tab>
						<paper-tab link>
							<a href="#" class="toggle-link" on-click="_toggleForms">Sign Up</a>
						</paper-tab>
					</paper-tabs>
					<h3>Reset Your LittleReads Password</h3>
					<p>Submit your email address and we’ll send you a link to reset your password.</p>
					<form is="iron-form" id="resetform" method="post">
						<gold-email-input id="email" name="email" label="Email Address" auto-validate required value="{{email}}"></gold-email-input>
						<br>
						<paper-button id="resetButton" raised type="submit" on-tap="triggerPasswordReset">Submit</paper-button>
						<paper-toast id="signuptoast" class="fit-bottom toasts" text="{{errorMessage}}"></paper-toast>
					</form>
					<paper-dialog id="confirmResetPassword" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop >
						<h2>Password Reset Email sent</h2>
						<p>Please check your email to reset your password</p>
						<div id="close-dialog" dialog-dismiss>
		 					<img src="../images/x.svg" dialog-dismiss >
		 				</div>
					</paper-dialog>
				</paper-card>
			</div>
			</template>

		</div>
	</template>
	<script>
		Polymer({
			is: "login-signup",
			behaviors: [LittleReads.commonBehavior],
			properties:{
				user: Object,
				username: {
					type: String,
					value: ""
				},
				email: {
					type: String,
					value: ""
				},
				password: {
					type: String,
					value: ""
				},
				confirm: {
					type: String,
					value: ""
				},
				errorMessage: {
					type: String,
					value: ""
				},
				_target: {
    			type: Object,
    			value: function(evt) {
      			return this.$.form;
    			}
  			},
			},
			_toggleForms: function(event){ //between signup and login forms

				var signUpElement = this.getElementsByClassName('signup')[0];
				var loginElement = this.getElementsByClassName('login')[0];
				var resetElement = this.getElementsByClassName('reset')[0];
				resetElement.classList.add('hide');
				resetElement.classList.remove('show');

				if (signUpElement.classList.contains('hide')){ // show signup, hide login
					loginElement.classList.add('hide');
					loginElement.classList.remove('show');
					signUpElement.classList.remove('hide');
					signUpElement.classList.add('show');
				} else if (loginElement.classList.contains('hide')){ // hide signup, show login
					signUpElement.classList.add('hide');
					signUpElement.classList.remove('show');
					loginElement.classList.remove('hide');
					loginElement.classList.add('show');
				}
			},
			_showResetForm: function(event){
				// console.log('showing reset form');
				var signUpElement = this.getElementsByClassName('signup')[0];
				var loginElement = this.getElementsByClassName('login')[0];
				var resetElement = this.getElementsByClassName('reset')[0];
				if (!signUpElement.classList.contains('hide'))
					signUpElement.classList.add('hide');
					signUpElement.classList.remove('show');
				if (!loginElement.classList.contains('hide'))
					loginElement.classList.add('hide');
					loginElement.classList.remove('show');
				if (resetElement.classList.contains('hide'))
					resetElement.classList.remove('hide');
					resetElement.classList.add('show');
			},
			_validateFormSubmission: function(event){
				// console.log(event);
				var formElements = event.target.parentElement;
				var container = formElements.parentElement.id;
				if ((!formElements.username.validate())  || (formElements.username.value === "")){
					this._openErrorToast("Invalid username", container);
					return false;
				}
				if ((formElements.email.invalid) || (formElements.email.value === "")){
					this._openErrorToast("Invalid email", container);
					return false;
				}
				var pass = formElements.querySelector("#password");
				if ((pass.invalid) || (pass.value === "")){
					this._openErrorToast("Invalid password", container);
					return false;
				}
				if (container === "signupcard"){
					if ((this.password=== "") || (this.password !== this.confirm)){
						this._openErrorToast("Invalid password confirmation", container);
						return false;
					}
				}
				return true;
			},
			_openErrorToast: function(message, containerId){
				var message = message;
				var containerId = containerId;
				var toastId = containerId.replace('card','toast');
				// var toast = document.getElementById(toastId);
				// var container = document.getElementById(containerId);
				// this.errorMessage = message;
				// toast.fitInto = container;
				// toast.open();
				//this._openToast(message, containerId, toastId);
				this._openToast(message, containerId, toastId);
			},
			login: function(event){
				// console.log('signin event', event);
				var valid = false;
				valid = this._validateFormSubmission(event);
				self = this;
				if (valid){
						// now dispatch action to the store and let the store ask the authentication element
					this.$.store._userLogin({
          	username: this.username,
          	email: this.email,
          	password: this.password
        	});
				}
			},
			signUp: function(event){
				// dispatch action to signout
				var valid = this._validateFormSubmission(event);
				self = this;
				if(valid){
					this.$.store._userSignUp({
          	username: this.username,
          	email: this.email,
          	password: this.password
        	});
				}
			},
			logOut: function(event){
				this.resetForms();
				event.stopPropagation();
				event.preventDefault();
				// console.log('in login-signup logout');
				// this.querySelector('#loginform').reset();
				// this.querySelector('#signupform').reset();
			},
			triggerPasswordReset: function(event){
				// console.log('reset password event is', event);
				// console.log(this.email);
				this.querySelector('auth-element').resetPassword(this.email);
				this.querySelector('#confirmResetPassword').open();
				this.querySelector('#resetform').reset();
			},
			resetForms: function(event){
				this.querySelector('#loginform').reset();
				this.querySelector('#signupform').reset();
				this.querySelector('#resetform').reset();
			},
		});
	</script>
</dom-module>
