<!-- element to search my bookshelves for a book by author -->
<link rel="import" href="./common-elements.html">
<link rel="import" href="./book-card.html">

<dom-module id="search-bar">
    <style include="shared-styles">
        :host {
            margin: 0;
            padding: 0;
            display: inline-block;
        }

        #search {
            @apply(--layout-horizontal);
            @apply(--layout-justified);
            @apply(--layout-center);
        }

        .search-box {
            color: var(--raven-dark);
            width: 100%;
            height: 100%;
            padding: 0 12px;
            font-size: 16px;
            border: 3px solid var(--app-primary-color);
            box-sizing: border-box;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
            z-index: 5;
        }

        .search-box:focus {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .fit {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        .list{
            @apply(--layout-horizontal);
            @apply(--layout-wrap);
            @apply(--layout-around-justified);
        }
        #mySearchResults{
            @apply(--my-menu-paperdialog-settings ;)
        }
    </style>
    <template>
        <littlereads-store id="store" user-lists="{{userLists}}" user="{{user}}" selected-lists-ids="{{selectedListsIds}}"></littlereads-store>
        <div id="search">
            <input id="searchBox" on-change="_onSearchInputChange" type="search" class="search-box fit" placeholder="Search My Books" aria-labelledby="searchLabel">
            <label aria-hidden id="searchLabel" hidden>Search My Books</label>
            <paper-icon-button raised src="../images/searchmybooks.svg" on-click="_focusSearch" tabindex="-1" hidden$="{{!user.loggedIn}}" aria-label="Search My Books"></paper-icon-button>
        </div>
        <paper-dialog id="mySearchResults" on-iron-overlay-opened="patchOverlay" entry-animation="scale-up-animation" exit-animation="fade-out-animation" with-backdrop>
			<h2>Book search results</h2>
			<paper-dialog-scrollable>
			    <li class="list">
                    <template id="bookslist" is="dom-repeat" items="[[results]]" >
                        <book-card book="[[item]]"></book-card>
                    </template>
                </li>
            </paper-dialog-scrollable>
		</paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'search-bar',
            behaviors: [LittleReads.commonBehavior],
            properties: {
                user: Object,
                userLists: Object,
                booksList: Array,
                selectedListsIds: Object,
                show: {
                    type: Boolean,
                    value: false
                },
                searchInput: {
                    type: String,
                    value: ''
                },
                resultIndices: {
                    type: Array,
                    value: []
                },
                results: {
                    type: Array,
                    value: []
                },
            },
            observers: [
                '_onUserListsChanged(userLists.*)',
                '_onResultContentChanged(userLists.*, resultIndices)',
                'onResultsChanged(results)'
            ],
            _focusSearch: function() {
                console.log("focussing on search bar");
                this.$.searchBox.focus();
            },
            _onSearchInputChange: function(event) {
            /* on key press */
                console.log("search box value changed", this.$.searchBox.value);
               /* if (event.keyCode == 13) { // Enter*/
                    var q = this.$.searchBox.value;
                    // console.log("query is", q);
                     this.findBook(q);
                     this.show = false;
                     this.$.searchBox.value = '';
             /*   }*/
            },
            _onUserListsChanged: function(userLists){
                // console.log(userLists);
                this.booksList = this.userLists.booksList;
                // console.log(this.booksList);
                
            },
            _onResultContentChanged: function(userLists, resultIndices){
      	        this.results = [];
      	        this.booksList = this.userLists.booksList;
      	        this.resultIndices = resultIndices;
      	        var self = this;
      	        var temp = [];
      	        this.resultIndices.forEach(function(item){
      		        temp.push(self.booksList[item]);
      	        });
      	        this.results = temp;
            },
            onResultsChanged: function(results){
      	        console.log("results changed", results);
            },
            findBook: function(q){
      	        // Find search term in titles
      	        var lowQ = q.toLowerCase();
      	        // console.log(this.userLists.booksList);
      	        var resultIndices = [];
            	var results = this.userLists.booksList.filter(function(book, ind){
      		        // console.log(lowQ);
      		        var title = book.title.toLowerCase();
      		        if (title.match(lowQ)){
      		    	    // console.log(ind, title.match(lowQ));
      		    	    resultIndices.push(ind);
      		    	    return ind;
      		    	    // return book;
      	        	}
            	});
            	// console.log(results);
            	console.log(resultIndices);
            	if (resultIndices.length > 0){
            		this.resultIndices = resultIndices;
            		// console.log("spawn a new window with the results");
            		mySearchResults.open();
            	}
             },
            
        });
    </script>
</dom-module>