<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="./font.css">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style include="font">
      *{
        font-family: "Cooper Hewitt", sans-serif;
        color: var(--raven-dark);
      }
      --app-primary-color: #8A7523;
      --raven-dark: #373D3F; /* rgba(55,61,63,1);raven */
      --dark-gray: #757575;
      --medium-gray: #cccccc;
      --light-gray: #efefef;
      --white: #ffffff;
      --success-color: #176E12;
      --alert-color:#71150E;

      h1 {
        margin: 16px 0;
        font-variant: small-caps;
        text-transform: capitalize;
        font-weight: 100;
        color: var(--dark-gray);
      }
      h2{
        color: var(--raven-dark);
        font-weight: 600;
      }

      /* style for ul holding list of books in books-list and google-book-search */
      .card {
        margin: 0px;
        padding: 5px;
        color: var(--dark-gray);
        border-radius: 5px;
        min-width: 350px;
        list-style: none;
      }
      /* list of book cards styling */
      .list{
        @apply(--layout-flex);
      }
      /* book card styling */
      paper-card.book{
        margin: 12px 0 12px 0;
        max-width: 350px;
        min-width: 350px;
        border-radius: 5px;
        background-color: var(--white);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .card-content{ /* layout wrapper for content in book-card */
        @apply(--layout-horizontal);
        padding: 0;
        margin: 0;
      }
      .info{ /* container for the book info - title, author,rating */
        padding: 10px 2px 0px 5px;
        @apply(--layout-flex);
      }

      .book-title{
        font-size: 95%;
        font-weight: 600;
        color: var(--raven-dark);
        text-transform: capitalize;
        margin-bottom: 8px;
      }

      .book-authors{
        font-size: 80%;
        font-weight: 200;
        color: var(--dark-gray);
      }
      .card-actions{
        font-size:  80%;
        @apply(--layout-horizontal);
        @apply(--layout-justified);
      }
      .book-image{
        /* background: url("http://books.google.com/books/content?id=fivPrQEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api"); */
        background-size:  cover;
        width: 128px;
        height: 150px;
        margin-left: 2px;
      }
      /* styling for forgot password button */

      .hide{
        display: none;
      }
      .show{
        display: block;
      }
      paper-card.login, paper-card.signup, paper-card.reset{
        /* margin: 10vh auto auto auto; */
        padding: 0px;
      }
      .toasts{
        --paper-toast-background-color:  var(--alert-color);
        --paper-toast-color: white;
        height: 80px;
        font-size: 100%;
        overflow: auto;
      }
      .name{
        font-variant: small-caps;
        text-transform: capitalize;
        font-weight: 100;
        color: var(--raven-dark);
      }
      .books-count{
        font-size: 90%;
        margin-bottom: 30px;
      }

      .delete{
        color: var(--white);
        background-color: var(--alert-color);
        font-weight: 600;
      }
      .success{
        color: var(--success-color);
        background-color: var(--white);
      }
      .fail{
        color: var(--alert-color);
        background-color: var(--white);
      }
      .forgot{
        color           : var(--alert-color);
        background-color: var(--white);
        font-size       : 80%;
        text-transform  : none;
        font-weight     : 300;
      }

      --my-menu-paperdialog-settings: {
        min-width: 250px;
        width:  95%;
        max-width:    99vw;
        position: fixed;
        padding: 0px;
        margin: 0px;
        top: 100px;
        left: 5px;
        /* right: 16px; */
        overflow: auto;
      }
/* to close paper-dialogs - x button */
      #close-dialog {
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        position: absolute;
        left: -16px;
        top: -16px;
        background: white;
        border: 1px solid #ededed;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }
      .full-dialog{
        width:  calc(100vw - 100px);
        height: calc(100vh - 300px);
        margin: 0;
        padding: 0;
      }

      /* Tables
      ================================== */
      .Rtable {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 3em 0;
        padding: 0;
      }
      .Rtable-cell {
        box-sizing: border-box;
        flex-grow: 1;
        width: 100%;  // Default to full width
        padding: 1em 1.2em;
        margin-top: 3px;
        margin-bottom: 3px;
        overflow: hidden; // Or flex might break
        list-style: none;
        border: solid @bw white;
        background: fade(slategrey,20%);
        > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
      }

    /* Table column sizing
    ================================== */
    .Rtable--2cols > .Rtable-cell  { width: 45%; }
    .Rtable--2cols > .Rtable-cell-left  {
      width: 85%;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .Rtable--2cols > .Rtable-cell-right  {
      width: 14%;
      text-align: center;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .Rtable--3cols > .Rtable-cell  { width: 33.33%; }
    .Rtable--4cols > .Rtable-cell  { width: 25%; }
    .Rtable--5cols > .Rtable-cell  { width: 20%; }
    .Rtable--6cols > .Rtable-cell  { width: 16.6%; }

    /* device is 600px or wider - for desktop styles  */
    @media screen and (min-width: 600px){
      paper-card.book{
        margin: 25px 15px;
      }
      .card{
        padding: 16px;
      }
    }
    </style>
  </template>
</dom-module>
