<script src="../node_modules/redux/dist/redux.js"></script>
<script src="../node_modules/reselect/dist/reselect.js"></script>

<script src="./store-behavior.js"></script>

<!-- import an existing behavior -->
<link rel="import" href="../bower_components/polymer-redux/polymer-redux.html">
<link rel="import" href="../bower_components/polymerfire/polymerfire.html">

<script>
	window.LittleReads = window.LittleReads || {};
	/**
 * Extended behavior.
 *
 * @polymerBehavior LittleReads.StoreBehavior
 */
	LittleReads.StoreBehaviorImpl = {
		_sayHello: function(){
			console.log("sayHello");
		},

	}
	// LittleReads.StoreBehavior = PolymerRedux(store);

	/*
	 * @polymerBehavior LittleReads.StoreBehavior
	*/
	LittleReads.StoreBehavior = [
		PolymerRedux(store),
		LittleReads.StoreBehaviorImpl
	];
</script>
